@import "../../sharedStyles/variables.scss";

.rented-congrats-modal-title {
  color: $gray-dark;
  font-size: 2em;
  font-weight: bold;
}

.rented-congrats-modal-text {
  line-height: 25px;
  padding-bottom: 25px;
}

.rented-congrats-modal-button {
  width: 100%;
  margin: 5px auto;
}
