@import "../../sharedStyles/variables.scss";

.rented-congrats-modal-title {
  color: $brand-info;
  font-size: 2em;
  font-weight: bold;
}

.rented-congrats-modal-text {
  font-weight: bold;
  padding-bottom: 25px;
}

.rented-congrats-modal-button {
  width: 110px;
  margin: 10px;
}
