@import "../../sharedStyles/variables.scss";
@import "../../sharedStyles/bsvars.scss";
$bubble-width-lg: 130px;
$bubble-width-md: $bubble-width-lg;
$bubble-width-sm: 90px;
$bubble-width-xs-max: $bubble-width-sm;
$bubble-width-xs-min: 70px;
$line-width-lg: 100px;
$line-width-md: 80px;
$line-width-sm: 60px;
$line-width-xs-max: $line-width-sm;
$line-width-xs-min: 40px;
$empty-color: $gray;
$active-color: #3398db;

@mixin add-active-color() {
  color: $active-color !important;
}

.property-stats {
  .property-stats-rent-title {
    font-size: 15px;
    padding-bottom: 15px;

    @media (max-width: $screen-sm-max) {
      padding-bottom: 5px;
    }
  }

  .property-stats-number {
    font-size: 40px;
    display: inline-block;
    width: $bubble-width-lg;
    text-align: center;

    @media (max-width: $screen-md-max) {
      width: $bubble-width-md;
    }

    @media (max-width: $screen-sm-max) {
      width: $bubble-width-sm;
    }

    @media (max-width: $screen-xs-max) {
      width: $bubble-width-xs-max;
    }

    @media (max-width: $screen-xs-min) {
      font-size: 30px;
      width: $bubble-width-xs-min;
    }
  }

  .property-stats-empty {
    display: inline-block;
    width: $line-width-lg;

    @media (max-width: $screen-md-max) {
      width: $line-width-md;
    }

    @media (max-width: $screen-sm-max) {
      width: $line-width-sm;
    }

    @media (max-width: $screen-xs-max) {
      width: $line-width-xs-max;
    }

    @media (max-width: $screen-xs-min) {
      width: $line-width-xs-min;
    }
  }

  .property-stats-bubble {
    border: 1px solid $gray-dark;
    border-radius: 100px;
    display: inline-block;
    text-align: center;
    vertical-align: middle;
    width: $bubble-width-lg;

    @media (max-width: $screen-md-max) {
      width: $bubble-width-md;
    }

    @media (max-width: $screen-sm-max) {
      width: $bubble-width-sm;
    }

    @media (max-width: $screen-xs-max) {
      width: $bubble-width-xs-max;
    }

    @media (max-width: $screen-xs-min) {
      border-radius: 15px;
      width: $bubble-width-xs-min;
    }

    .property-stats-bubble-text {
      padding: 10px;
    }
  }

  .property-stats-listing-stats {
    .property-stats-card {
      background-color: $brand-white;
      border-radius: 2px;
      box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.05);
      padding: 20px;

      @media (max-width: $screen-sm-max) {
        padding: 10px 0;
      }
    }

    .property-stats-number {
      font-size: 24px;

      @media (max-width: $screen-sm-max) {
        font-size: 18px;
      }
    }

    .property-stats-title {
      color: $gray-light;
      font-size: 14px;
    }
  }

  .property-stats-padding-top {
    padding-top: 40px;
  }
}

.property-stats-container {
  background-color: $brand-white;
  border-radius: 4px;
  box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.05);
  margin-bottom: 15px;
  padding: 15px;
}

.property-stats-list-group-disabled {
  position: relative;

  &::after {
    background: linear-gradient(0deg, $brand-white 25%, rgba(255, 255, 255, 0));
    bottom: 0;
    content: ' ';
    cursor: not-allowed;
    left: 0;
    opacity: 0.9;
    position: absolute;
    right: 0;
    top: 0;
  }
}

.property-stats-list-group-item {
  background-color: $brand-white !important;
  border: 0;
  margin: 0 0 4px;

  &.disabled {
    .tenant-row-profile,
    .tenant-row-remove i {
      color: #cecece;
    }
  }
}

.property-stats-process-title {
  color: $gray-dark;
  font-size: 15px;
  margin-bottom: 20px;
}

.property-stats-value-title {
  color: $gray-mid-light;
  font-size: 13px;
}

.property-stats-process-diagram {
  margin-top: 15px;
}

.property-stats-process-point-empty,
.property-stats-process-point-half,
.property-stats-process-point-full {
  font-size: 12px;

  &::before {
    border-radius: 50%;
    content: "";
    display: inline-block;
    height: 13px;
    margin-left: 9px;
    vertical-align: middle;
    width: 13px;
  }
}

.property-stats-process-point-empty {
  color: $gray-button;

  &::before {
    background-color: $brand-white;
    border: 1px solid $gray-mid-light;
  }
}

.property-stats-process-point-half,
.property-stats-process-point-full {
  color: #3398db;

  &::before {
    background-color: #3398db;
  }
}

.property-stats-process-point-half {
  opacity: 0.5;
}

.property-stats-process-vr-done,
.property-stats-process-vr-not-done {
  border-left: 1px solid #3398db;
  height: 10px;
  width: 7px;
}

.property-stats-process-vr-not-done {
  border-left: 1px solid $gray-mid-light;
}

.property-stats-views {
  bottom: 28px;
  color: $gray-mid-light;
  font-size: 12px;
  left: 30px;
  line-height: 13px;
  position: absolute;

  > div {
    @media (min-width: $screen-md-min) {
      display: inline-block;
      padding-right: 10px;
    }
  }

  @media (min-width: $screen-md-min) {
    bottom: 30px;
  }

  @media (max-width: $screen-xs-max) {
    bottom: 9px;
  }
}

.property-stats-views-value {
  font-size: 28px;
  line-height: 28px;

  @media (max-width: $screen-sm-max) {
    font-size: 20px;
  }
}

.property-stats-share-container {
  margin-top: 65px;
}

.property-stats-share-title {
  color: $gray-button;
  font-size: 13px;
  line-height: 20px;
}

.property-stats-share-help {
  color: #979797;
  float: left;
  font-size: 13px;
}

.property-stats-share-sub-title {
  color: #9b9b9b;
  font-size: 13px;
  line-height: 20px;
}

.property-stats-followers-container > .property-stats-value-title {
  margin-bottom: 20px;
}

.property-stats-followers-title {
  color: $gray-button;
  font-size: 16px;
  font-weight: bold;
  margin-bottom: 5px;
}
