@import "../../sharedStyles/variables.scss";
@import "../../sharedStyles/bsvars.scss";

.property-manage-section-title {
  font-size: 15px;
  padding-bottom: 30px;

  @media (min-width: $screen-sm-min) {
    margin: 0 -30px;
    padding-bottom: 15px;
  }

  @media (max-width: $screen-sm-max) {
    padding-bottom: 15px;
  }
}

.property-manage-section-content {
  margin-bottom: 30px;
}

.property-manage-lease-period {
  background-color: $brand-white;
  height: 155px;
  padding: 30px;
  position: relative;
  margin-bottom: 50px;

  @media (max-width: $screen-sm-max) {
    padding: 15px;
  }

  .property-manage-lease-period-edit {
    color: $brand-info;
    cursor: pointer;
    left: 5px;
    position: absolute;
    text-decoration: underline;
    top: 0;

    &:hover {
      opacity: 0.7;
    }

    .property-manage-lease-period-edit-icon {
      padding-left: 5px;
      vertical-align: middle;
    }
  }

  .property-manage-lease-period-start,
  .property-manage-lease-period-end {
    font-size: 13px;
    letter-spacing: 1px;
    padding-left: 5px;
    position: absolute;
    top: 56px;

    @media (max-width: $screen-xs-max) {
      top: 76px;
    }
  }

  .property-manage-lease-period-start-label,
  .property-manage-lease-period-end-label {
    color: #979797;
    font-size: 13px;
    position: absolute;
    top: 72px;

    @media (max-width: $screen-xs-max) {
      top: 92px;
    }
  }

  .property-manage-lease-period-end,
  .property-manage-lease-period-end-label {
    left: 5px;
  }

  .progress,
  .property-manage-lease-period-days-passed,
  .property-manage-lease-period-days-left {
    left: 75px;
    position: absolute;
    right: 100px;
  }

  .progress {
    height: 8px;
    top: 60px;

    @media (max-width: $screen-xs-max) {
      left: 5px;
      right: 16px;
    }
  }

  .property-manage-lease-period-days-passed,
  .property-manage-lease-period-days-left {
    font-size: 12px;
    text-align: center;
  }

  .property-manage-lease-period-days-passed {
    color: #3398db;
    top: 38px;
  }

  .property-manage-lease-period-days-left {
    color: #979797;
    top: 72px;
  }
}

.property-manage-modal-body {
  text-align: center;
}

.property-manage-modal-section-header {
  color: #979797;
  font-size: 12px;
  font-weight: bold;
  padding-bottom: 20px;
}

.property-manage-modal-picker-label {
  display: inline-block;
  text-align: center;
  width: 108px;

  &:first-child {
    margin-left: 20px;
  }
}

.property-manage-modal-picker-container {
  height: 70px;

  .property-manage-modal-start-picker-fake-container {
    right: 80px;

    #calendar {
      left: -35px !important;
    }
  }

  .property-manage-modal-start-picker-fake-container,
  .property-manage-modal-start-picker-wrapper,
  .property-manage-modal-end-picker-wrapper {
    position: absolute;
    top: 75px;
    width: 108px;
  }

  .property-manage-modal-start-picker-wrapper {
    right: 30px;
  }

  .property-manage-modal-end-picker-separator {
    position: absolute;
    right: 146px;
    top: 82px;
  }

  .property-manage-modal-end-picker-wrapper {
    right: 158px;
  }

  .react-bootstrap-date-picker-custom-control {
    text-align: center;
  }
}

.property-manage-list-group-item {
  background-color: $brand-white !important;
  border: 0;
  margin-bottom: 4px;

  @media (max-width: $screen-xs-max) {
    margin: 0 -20px 2px -20px;
  }
}

.property-manage-lease-stats {
  .dropdown {
    float: left;

    .dropdown-menu {
      right: auto;
      left: 0;
    }
  }

  .property-manage-lease-stats-group {
    .property-manage-lease-stats-group-heading {
      font-size: 15px;
      line-height: 17px;
      color: $gray-dark;
      margin-bottom: 5px;
    }

    .property-manage-lease-stats-group-data {
      background-color: $brand-white;
      padding-top: 10px;
      margin-bottom: 45px;

      .divider {
        background-color: $gray-lighter;
        width: 100%;
        height: 100px; // not optimal, but 100% didn't work :(
      }
    }
  }
}

