@import "../../sharedStyles/variables.scss";
@import "../../sharedStyles/bsvars.scss";

.property-manage-lease-title {
  padding-bottom: 30px;

  @media (max-width: $screen-sm-max) {
    padding-bottom: 15px;
  }
}

.property-manage-lease-period {
  background-color: $brand-white;
}

.property-manage-lease-period.progress {
  height: 8px;
}

.property-manage-modal-picker-container {
  .react-bootstrap-date-picker-custom-control {
    width: 45%;
  }
}
