@import "../sharedStyles/variables.scss";

.select-upload-mode-wrapper {
  text-align: center;
  .dashboard-action-wrapper{
    display: none;
  }
  .dashboard-menu-wrapper{
    padding: 0;
    width: 100%;
  }
  .select-upload-mode-item {
    display: inline-block;
    height: 230px;
    width: 250px;
    border-radius: 4px;
    background-color: $brand-white;
    box-shadow: 0 2px 10px 0 rgba(0, 0, 0, 0.1);
  }
}