@import "../sharedStyles/variables.scss";
@import "../sharedStyles/bsvars.scss";

.footer-container {
  background-color: $brand-primary;
  color: $brand-white;
  padding: 95px;

  @media (max-width: $screen-xs-max) {
    display: none;
  }
}

.footer-logo-col {
  font-size: 13px;
  line-height: $line-height-computed;
  padding: 6px 10px;
  position: relative;

  > a {
    position: absolute;
    top: -45px;
  }
}

.footer-logo-image {
  width: 70px;
}

.footer-links-col > a {
  color: $brand-white;
  display: block;
  font-size: 11px;
  line-height: 30px;
}
