@import "../sharedStyles/variables.scss";
@import "../sharedStyles/bsvars.scss";

.footer-container {
  background-color: $brand-primary;
  color: $brand-white;
  font-size: 11px;
  padding: 95px;

  @media (max-width: $screen-xs-max) {
    display: none;
  }
}

.footer-logo-col {
  line-height: $line-height-computed;
  padding: 6px;
  position: relative;

  > a {
    position: absolute;
    top: -45px;
  }
}

.footer-logo-col-text {
  max-width: 171px;
  padding-left: 15px;
}

.footer-logo-image {
  height: 21px;
  width: 70px;
}

.footer-links-col > a {
  color: $brand-white;
  display: block;
  line-height: 30px;

  &:hover {
    opacity: 0.7;
  }
}

.footer-links-follow-text {
  padding-top: 30px;

  opacity: 1 !important;
}

.footer-links-follow-i {
  color: $brand-white;
  cursor: pointer;
  font-size: 18px;
  padding-left: 10px;
}
