.like-button {
  &:hover {
    color: #ea441a;
  }

  .fa {
    &.fa-heart {
      color: #ea441a;
    }

    &.fa-heart-o {
      opacity: 0.7;
    }
  }

  .like-button-text {
    display: none;
  }

  &.like-button-with-text {
    display: inline-block;
    width: 120px;
    height: 32px;
    font-size: 13px;
    border-radius: 2px;
    border: 1px solid #ea441a;
    color: #ea441a;

    .fa {
      font-size: 15px;
      color: #ea441a;;
      margin-top: 8px;
      margin-right: 22px;
    }

    .like-button-text {
      display: inline-block;
      margin-right: 10px;
      position: absolute;
      margin-top: 6px;
    }

    &.like-button-liked {
      background: #ea441a;
      color: #ffffff;
      
      .fa {
         color: #ffffff;
      }
    }
  }
}
