@import "../sharedStyles/variables.scss";
@import "../sharedStyles/bsvars.scss";

.profile-container {
  width: 100%;
  height: 100%;
  margin: 0 auto;

  @media (max-width: $screen-xs-max) {
    top: 0;
    padding-top: 0;
  }

  .tab-bar {
    height: 45px;
    background-color: $brand-white;
    position: absolute;
    width: 100%;
    text-align: center;

    .container {
      width: auto;

      > ul {
        display: inline-block;
        float: none;
        margin: 0 auto;

        > li {
          height: 45px;
          margin: 0 20px;

          @media (max-width: $screen-xs-max) {
            min-width: 100px;
            text-align: center;
            margin: 0 10px;
          }

          a {
            height: 45px;
            padding: 15px;
          }
        }
      }
    }
  }
}

.profile-header {
  height: 50px;

  .profile-title {
    color: $gray;
    display: inline-block;
    font-size: 18px;
    padding-top: 12px;
  }

  .profile-preview {
    background-color: #eee !important;
    border-color: #1cb039 !important;
    color: #1cb039 !important;
    outline: none;

    i {
      vertical-align: middle;
    }
  }
}

.profile-edit-wrapper {
  width: 100%;
  max-width: 785px;
  margin: 80px auto 0;
}

.profile-edit-container {
  background-color: $brand-white;

  @media (max-width: $screen-xs-max) {
    margin-top: 75px;
  }
}

.profile-form {
  padding: 30px 50px 15px;
}

.profile-picture-container {
  margin: 0 auto;
  text-align: center;

  .profile-picture {
    border-radius: 50%;
    width: 110px;
    height: 110px;
    margin-top: -55px;
  }
}

.profile-submit {
  float: left;
}
