@import "../sharedStyles/variables.scss";
@import "../sharedStyles/bsvars.scss";

.my-properties-container {
  padding: 55px 0 20px;

  @media (max-width: $screen-xs-max) {
    padding: 20px 0;
  }

  .my-properties-title {
    padding: 0 15px 10px;
  }
}

.my-properties-empty {
  text-align: center;

  @media (max-width: $screen-xs-max) {
    padding: 10px;
  }

  a.my-properties-add {
    box-shadow: 0 2px 15px 0 rgba(0, 0, 0, 0.1);
    border: 1px solid #3398db;
    border-radius: 4px 4px 0 0;
    color: #3398db;
    display: block;
    height: 349px;

    @media (max-width: $screen-xs-max) {
      height: 249px;
    }

    .my-properties-cross {
      padding-top: 100px;

      @media (max-width: $screen-xs-max) {
        padding-top: 50px;
      }
    }

    .my-properties-title {
      padding-top: 50px;
    }
  }

  a:hover.my-properties-add {
    box-shadow: 0 5px 15px 0 rgba(0, 0, 0, 0.1);
    font-weight: bold;
  }

  .my-properties-text {
    color: $gray;
    font-size: 13px;
    padding-top: 20px;
  }
}
