# This file is meant to extend docker-compose.yml for ci environment
version: '2'
services:
  apartments-api:
    volumes:
      - ./apartments-api-shared:/shared
    command: bash -c "yarn run wait:db && yarn run start"
    environment:
      NODE_ENV: ${NODE_ENV}
      SUMOLOGIC_COLLECTOR: ${SUMOLOGIC_COLLECTOR}

  front-gateway:
    volumes:
      - ./front-gateway-shared:/shared
    environment:
      NODE_ENV: ${NODE_ENV}
      SUMOLOGIC_COLLECTOR: ${SUMOLOGIC_COLLECTOR}

  notifications-service:
    volumes:
      - ./notifications-service-shared:/shared
    environment:
      NODE_ENV: ${NODE_ENV}
      SUMOLOGIC_COLLECTOR: ${SUMOLOGIC_COLLECTOR}

  # ohe-api:
  #   volumes:
  #     - ./ohe-api-shared:/shared
  #   command: bash -c "yarn run wait:db && yarn run start"
  #   environment:
  #     NODE_ENV: ${NODE_ENV}
  #     SUMOLOGIC_COLLECTOR: ${SUMOLOGIC_COLLECTOR}
