# This file is meant to extend docker-compose.yml for development environment
version: '2'
services:

  # Docker management portal
  # 1. run independently instead: docker run -d -p 9000:9000 -v /var/run/docker.sock:/var/run/docker.sock portainer/portainer
  # 2. access it from http://localhost:9000

  db:
    ports:
      - '3306:3306'

  cache:
    ports:
      - '6379:6379'

  apartments-api:
    ports:
      - '5858:5858'
    volumes:
      - ./apartments-api:/home/nodejs/app
      - /home/nodejs/app/node_modules/
      # - ../dorbel-shared:/home/nodejs/app/node_modules/dorbel-shared
    environment:
      NODE_ENV: ${NODE_ENV}
    command: bash -c "yarn run wait:db && yarn run start:dev"

  front-gateway:
    ports:
      - '5859:5859'
      - '8888:8888'
    volumes:
      - ./front-gateway:/home/nodejs/app
      - /home/nodejs/app/node_modules/
      - /home/nodejs/app/public/build/
      # - ../dorbel-shared:/home/nodejs/app/node_modules/dorbel-shared
    environment:
      NODE_ENV: ${NODE_ENV}
    command: bash -c "yarn run build:dev & yarn run start:dev"

  notifications-service:
    ports:
      - '5861:5861'
    volumes:
      - ./notifications-service:/home/nodejs/app
      - /home/nodejs/app/node_modules/
      # - ../dorbel-shared:/home/nodejs/app/node_modules/dorbel-shared
    environment:
      NODE_ENV: ${NODE_ENV}
    command: yarn run start:dev

  # ohe-api:
  #   ports:
  #     - '5860:5860'
  #   volumes:
  #     - ./ohe-api:/home/nodejs/app
  #     - /home/nodejs/app/node_modules/
  #     # - ../dorbel-shared:/home/nodejs/app/node_modules/dorbel-shared
  #   environment:
  #     NODE_ENV: ${NODE_ENV}
  #   command: bash -c "yarn run wait:db && yarn run start:dev"

  # admin:
  #   volumes:
  #     - ./admin:/home/nodejs/app
  #     - /home/nodejs/app/node_modules/
  #     - ../dorbel-shared:/home/nodejs/app/node_modules/dorbel-shared
  #   environment:
  #     NODE_ENV: ${NODE_ENV}

  # admin-ohe:
  #   volumes:
  #     - ./admin-ohe:/home/nodejs/app
  #     - /home/nodejs/app/node_modules/
  #   environment:
  #     NODE_ENV: ${NODE_ENV}
