version: '2'
services:

  # MySQL database
  db:
    build:
      context: mysql_db
    image: dorbel/mysql
    ports:
      - '3306'
    environment:
      MYSQL_USER: ${MYSQL_ROOT_USER}
      MYSQL_ROOT_PASSWORD: ${MYSQL_ROOT_PASSWORD}

  # Redis cache
  cache:
    image: redis:alpine
    ports:
      - '6379'

  apartments-api:
    build:
      context: apartments-api
    image: dorbel/apartments-api
    ports:
      - '3000:3000'
    depends_on:
      - db
    links:
      - db
      - cache
    environment:
      RDS_HOSTNAME: db
      RDS_DB_NAME: ${MYSQL_DATABASE_APT}
      RDS_USERNAME: ${MYSQL_ROOT_USER}
      RDS_PASSWORD: ${MYSQL_ROOT_PASSWORD}
      REDIS_HOST: cache
      REDIS_PORT: 6379
      AUTH0_DOMAIN: ${AUTH0_DOMAIN}
      AUTH0_API_CLIENT_ID: ${AUTH0_API_CLIENT_ID}
      AUTH0_API_CLIENT_SECRET: ${AUTH0_API_CLIENT_SECRET}
      AWS_ACCESS_KEY_ID: ${AWS_ACCESS_KEY_ID}
      AWS_SECRET_ACCESS_KEY: ${AWS_SECRET_ACCESS_KEY}
      AWS_REGION: ${AWS_REGION}
      NOTIFICATIONS_SNS_TOPIC_ARN: ${NOTIFICATIONS_SNS_TOPIC_ARN}
      SEGMENT_IO_WRITE_KEY: ${SEGMENT_IO_WRITE_KEY}
      FRONT_GATEWAY_URL: ${FRONT_GATEWAY_URL}
      LOG_LEVEL: ${LOG_LEVEL}
      GOOGLE_API_SERVICE_KEY: ${GOOGLE_API_SERVICE_KEY}
      GOOGLE_API_SERVICE_EMAIL: ${GOOGLE_API_SERVICE_EMAIL}
      GOOGLE_ANALYTICS_ID: ${GOOGLE_ANALYTICS_ID}

  front-gateway:
    build:
      context: front-gateway
    image: dorbel/front-gateway
    ports:
      - '3001:3001'
    depends_on:
      - cache
      - apartments-api
      # - ohe-api
    links:
      - cache
      - apartments-api
      # - ohe-api
    environment:
      APARTMENTS_API_URL: http://apartments-api:3000
      FRONT_GATEWAY_URL: ${FRONT_GATEWAY_URL}
      OHE_API_URL: http://ohe-api:3003
      REDIS_HOST: cache
      REDIS_PORT: 6379
      AUTH0_DOMAIN: ${AUTH0_DOMAIN}
      AUTH0_FRONT_CLIENT_ID: ${AUTH0_FRONT_CLIENT_ID}
      CLOUDINARY_SECRET: ${CLOUDINARY_SECRET}
      CLOUDINARY_API_KEY: ${CLOUDINARY_API_KEY}
      GOOGLE_MAPS_API_KEY: ${GOOGLE_MAPS_API_KEY}
      SEGMENT_IO_WRITE_KEY: ${SEGMENT_IO_WRITE_KEY}
      BROWSERSTACK_USERNAME: ${BROWSERSTACK_USERNAME}
      BROWSERSTACK_ACCESS_KEY: ${BROWSERSTACK_ACCESS_KEY}
      OPTIMIZELY_KEY: ${OPTIMIZELY_KEY}
      HOTJAR_KEY: ${HOTJAR_KEY}
      LOG_LEVEL: ${LOG_LEVEL}
      TALKJS_APP_ID: ${TALKJS_APP_ID}
      TALKJS_PUBLISHABLE_KEY: ${TALKJS_PUBLISHABLE_KEY}
      FILESTACK_API_KEY: ${FILESTACK_API_KEY}

  notifications-service:
    build:
      context: notifications-service
    image: dorbel/notifications-service
    ports:
      - '3002:3002'
    depends_on:
      - cache
      - apartments-api
      # - ohe-api
    links:
      - cache
      - apartments-api
      # - ohe-api
    environment:
      APARTMENTS_API_URL: http://apartments-api:3000
      OHE_API_URL: http://ohe-api:3003
      REDIS_HOST: cache
      REDIS_PORT: 6379
      AUTH0_DOMAIN: ${AUTH0_DOMAIN}
      AUTH0_API_CLIENT_ID: ${AUTH0_API_CLIENT_ID}
      AUTH0_API_CLIENT_SECRET: ${AUTH0_API_CLIENT_SECRET}
      AWS_ACCESS_KEY_ID: ${AWS_ACCESS_KEY_ID}
      AWS_SECRET_ACCESS_KEY: ${AWS_SECRET_ACCESS_KEY}
      AWS_REGION: ${AWS_REGION}
      SEGMENT_IO_WRITE_KEY: ${SEGMENT_IO_WRITE_KEY}
      NOTIFICATIONS_APP_EVENTS_SQS_QUEUE_URL: ${NOTIFICATIONS_APP_EVENTS_SQS_QUEUE_URL}
      FRONT_GATEWAY_URL: ${FRONT_GATEWAY_URL}
      LOG_LEVEL: ${LOG_LEVEL}

  # ohe-api:
  #   build:
  #     context: ohe-api
  #   image: dorbel/ohe-api
  #   ports:
  #     - '3003:3003'
  #   depends_on:
  #     - db
  #     - cache
  #   links:
  #     - db
  #     - cache
  #   environment:
  #     RDS_HOSTNAME: db
  #     RDS_DB_NAME: ${MYSQL_DATABASE_OHE}
  #     RDS_USERNAME: ${MYSQL_ROOT_USER}
  #     RDS_PASSWORD: ${MYSQL_ROOT_PASSWORD}
  #     REDIS_HOST: cache
  #     REDIS_PORT: 6379
  #     AUTH0_DOMAIN: ${AUTH0_DOMAIN}
  #     AUTH0_API_CLIENT_ID: ${AUTH0_API_CLIENT_ID}
  #     AUTH0_API_CLIENT_SECRET: ${AUTH0_API_CLIENT_SECRET}
  #     AWS_ACCESS_KEY_ID: ${AWS_ACCESS_KEY_ID}
  #     AWS_SECRET_ACCESS_KEY: ${AWS_SECRET_ACCESS_KEY}
  #     AWS_REGION: ${AWS_REGION}
  #     NOTIFICATIONS_SNS_TOPIC_ARN: ${NOTIFICATIONS_SNS_TOPIC_ARN}
  #     SEGMENT_IO_WRITE_KEY: ${SEGMENT_IO_WRITE_KEY}
  #     OHE_API_EVENTS_SQS_QUEUE_URL: ${OHE_API_EVENTS_SQS_QUEUE_URL}
  #     FRONT_GATEWAY_URL: ${FRONT_GATEWAY_URL}
  #     LOG_LEVEL: ${LOG_LEVEL}

  # Admin apartments backoffice
  # admin:
  #   build:
  #     context: admin
  #   image: dorbel/admin
  #   ports:
  #     - '3004:3004'
  #   depends_on:
  #     - db
  #   links:
  #     - db
  #   environment:
  #     DATABASE_URL: mysql://${MYSQL_ROOT_USER}:${MYSQL_ROOT_PASSWORD}@db:3306/${MYSQL_DATABASE_APT}
  #     FOREST_AUTH_SECRET: ${FOREST_APARTMENTS_AUTH_SECRET}
  #     FOREST_ENV_SECRET: ${FOREST_APARTMENTS_ENV_SECRET}
  #     FRONT_GATEWAY_URL: ${FRONT_GATEWAY_URL}

  # Admin ohe backoffice
  # admin-ohe:
  #   build:
  #     context: admin
  #   image: dorbel/admin-ohe
  #   ports:
  #     - '3005:3005'
  #   depends_on:
  #     - db
  #   links:
  #     - db
  #   environment:
  #     DATABASE_URL: mysql://${MYSQL_ROOT_USER}:${MYSQL_ROOT_PASSWORD}@db:3306/${MYSQL_DATABASE_OHE}
  #     FOREST_AUTH_SECRET: ${FOREST_OHE_AUTH_SECRET}
  #     FOREST_ENV_SECRET: ${FOREST_OHE_ENV_SECRET}
  #     FRONT_GATEWAY_URL: ${FRONT_GATEWAY_URL}
