.dashboard-container {
  background-color: $gray-lighter;
  height: 100%;
  position: relative;
}

.dashboard-menu-wrapper {
  background-color: $brand-white;
  height: 100%;
  padding: 45px 0;
  width: 208px;

  @media (max-width: $screen-xs-max) {
    display: none;
  }
}

.dashboard-menu-item {
  border-right: 4px solid $brand-white;
  color: #979797;
  font-size: 13px;
  margin-bottom: 10px;
  padding: 10px 25px;

  a {
    color: inherit !important;
    text-decoration: none !important;
  }

  .unread-messages-notifier {
    float: left;
  }

  &.dashboard-menu-item-selected {
    border-color: $gray-dark;
    color: $gray-dark;
    font-weight: bold;
  }
}

.dashboard-menu-item-icon {
  font-size: 14px;
  padding-left: 18px;
  vertical-align: text-bottom;
}

.dashboard-action-wrapper {
  background-color: $gray-lighter;
  bottom: 0;
  left: 0;
  overflow: auto;
  position: absolute;
  right: 208px;
  top: 0;

  @media (max-width: $screen-xs-max) {
    right: 0;
  }

  .loader-container {
    top: -20px;
  }
}
