.dashboard-container {
  background-color: $gray-lighter;
  height: 100%;
  position: relative;

  @media (min-width: $screen-md-min) {
    overflow: auto;
  }

  @media (max-width: $screen-xs-max) {
    overflow-y: scroll; /* has to be scroll, not auto */
    -webkit-overflow-scrolling: touch;
  }
}

.dashboard-menu-wrapper {
  width: 246px;
}

.dashboard-menu-item {
  color: #979797;
  font-size: 13px;
  padding: 16px 29px;

  &.dashboard-menu-item-selected {
    color: $gray-dark;
    font-weight: bold;
  }
}

.dashboard-menu-item-icon {
  font-size: 14px;
  padding-left: 18px;
}

.dashboard-action-wrapper {
  background-color: $gray-lighter;
  padding-top: 39px;

  @media (min-width: $screen-md-min) {
    bottom: 0;
    left: 0;
    position: absolute;
    right: 246px;
    top: 0;
  }

  .loader-container {
    top: -39px;
  }
}
