.property-top-container {
  background-color: $brand-white;
  border-bottom: 1px solid #f5f5f5;
}

.property-image-container {
  padding: 0;
}

.property-image {
  height: 144px;
  object-fit: cover;
  width: 100%;
}

.property-image-inactive {
  opacity: 0.5;
}

.property-title-container {
  color: #382e2f;
  padding-right: 50px;
  padding-top: 37px;

  @media (max-width: $screen-xs-max) {
    height: 133px;
    padding-left: 15px;
    padding-right: 15px;
    padding-top: 12px;
  }
}

.property-title {
  font-size: 20px;
  padding-bottom: 7px;
  text-overflow: ellipsis;
  white-space: nowrap;

  @media (max-width: $screen-xs-max) {
    font-size: 15px;
    padding-left: 65px;
    white-space: normal;
  }
}

.property-title-inactive {
  color: $gray-light;
}

.property-title-details {
  font-size: 16px;

  @media (max-width: $screen-xs-max) {
    bottom: 0;
    font-size: 13px;
    left: 0;
    position: absolute;
    right: 0;
  }
}

.property-status-desktop {
  padding-top: 10px;

  > .dropdown.btn-group {
    margin-right: 10px;

    > .dropdown-menu {
      top: 35px;
    }
  }

  .listing-status-selector {
    line-height: 17px;
    width: 135px !important;
  }

  @media (max-width: $screen-xs-max) {
    display: none;
  }
}

.property-title-details-sub-text {
  color: #9b9b9b;
  font-size: 14px;
}

.property-title-details-sub {
  display: inline;
  padding-left: 12px;

  @media (max-width: $screen-xs-max) {
    border-top: $gray-border;
    float: right;
    padding-bottom: 7px;
    padding-left: 0;
    padding-top: 7px;
    text-align: center;
    width: 33%;

    &:not(:first-child) {
      border-right: $gray-border;
    }
  }
}

.property-actions-wrapper {
  line-height: 36px;
  text-align: left;

  @media (min-width: $screen-sm-min) {
    padding-top: 15px;
  }
}

.property-actions-item-container {
  display: inline-block;

  @media (max-width: $screen-xs-max) {
    display: none !important;
  }
}

.property-actions-title {
  color: $gray-dark;
  font-size: 15px;
  font-weight: bold;
}

.property-actions-sub-title {
  color: #979797;
  font-size: 13px;
  font-weight: bold;
}

.property-actions-vr {
  border-right: 1px solid $gray-light;
  height: 25px;
  margin-right: 10px;
  padding-left: 10px;
}

.property-actions-menu-container > .property-action-button {
  display: none;

  @media (max-width: $screen-xs-max) {
    display: block;
    font-size: 12px;
    width: 60px;

    > i {
      margin-right: 4px;
    }
  }
}

.property-action-button {
  background-color: $brand-white;
  border-color: $gray;
  font-size: 12px;
  height: 30px;
  margin-right: 5px;
  padding: 0;
  width: 105px;

  &.property-preview-button::before {
    content: '\f03e';
  }

  &.property-edit-button::before {
    content: '\f044';
  }

  &::before {
    font-family: FontAwesome;
    margin-left: 5px;
  }

  &:active,
  &:focus {
    box-shadow: none !important;
    outline: none !important;
  }

  &:hover {
    opacity: 0.7;
  }
}

.property-save-button {
  background-color: #3398db;
  color: $brand-white;
}

.property-actions-menu-container {
  cursor: pointer;

  @media (max-width: $screen-xs-max) {
    left: 10px;
    padding: 10px 5px 0;
    position: absolute;
    top: 0;

    &.property-edit-actions-mobile {
      display: none;
    }
  }

  &not(.property-edit-actions-mobile) {
    @media (min-width: $screen-sm-min) {
      display: none !important;
    }
  }
}

.property-actions-menu {
  border: none !important;
  border-radius: 0;
  box-shadow: 0 3px 9px rgba(0, 0, 0, 0.175);

  > .arrow {
    display: none;
  }

  .popover-content {
    padding: 0;
  }
}

.property-actions-menu-item {
  cursor: pointer;
  display: none;
  padding: 18px;

  @media (max-width: $screen-xs-max) {
    display: block;
  }
}

.property-actions-menu-item-icon {
  padding-left: 20px;
  vertical-align: middle;
}

.property-status-mobile {
  .property-status-label {
    line-height: 45px;
    text-align: center;
    white-space: nowrap;
  }

  .property-status-selector-container {
    line-height: 42px;
    text-align: center;

    .dropdown {
      max-width: 200px;
      width: 100%;

      > .listing-status-selector {
        width: 100%;
      }
    }

    .dropdown-menu {
      left: 0;
      top: 37px;
    }
  }

  @media (min-width: $screen-sm-min) {
    display: none;
  }
}

.property-content-container {
  background-color: $gray-lighter;
  padding: 40px 50px 20px;

  @media (max-width: $screen-sm-max) {
    padding: 20px 6px;
  }

  @media (max-width: $screen-xs-max) {
    padding: 20px 20px 60px;
  }

  @media (max-width: $screen-xs-min) {
    padding: 20px 8px 60px;
  }
}

.property-edit-container {
  @media (max-width: $screen-xs-max) {
    /* this is so intercom button won't hide the bottom of the form in mobile */
    padding-bottom: 50px;
  }
}

.property-edit-actions-mobile {
  @media (max-width: $screen-xs-max) {
    top: 23px;
  }

  button {
    margin-right: 10px;
  }
}
