.property-top-container,
.property-menu {
  background-color: $brand-white;
}

.property-top-container {
  border-bottom: 1px solid #f5f5f5;
}

.property-image-container {
  padding-right: 0;

  .listing-status-container {
    left: -25px;
    top: 35px;

    @media (max-width: $screen-xs-max) {
      left: auto;
      position: absolute;
      right: 0;
      top: 18px;
    }
  }

  .listing-status-label {
    display: none;
  }

  .listing-status-selector {
    width: auto;

    @media (max-width: $screen-xs-max) {
      border-radius: 100px 0 0 100px;
    }
  }
}

.property-image {
  height: 125px;
  object-fit: cover;
  width: 100%;

  @media (max-width: $screen-xs-max) {
    height: 97px;
  }
}

.property-title-container {
  color: #382e2f;
  padding-right: 50px;
  padding-top: 37px;

  @media (max-width: $screen-xs-max) {
    height: 97px;
    padding-left: 5px;
    padding-right: 0;
    padding-top: 12px;
  }
}

.property-title {
  font-size: 20px;
  padding-bottom: 7px;
  text-overflow: ellipsis;
  white-space: nowrap;

  @media (max-width: $screen-xs-max) {
    font-size: 15px;
    padding-left: 45px;
    white-space: normal;
  }
}

.property-title-details {
  font-size: 16px;

  @media (max-width: $screen-xs-max) {
    bottom: 5px;
    font-size: 13px;
    left: 0;
    position: absolute;
    right: 0;
  }
}

.property-title-details-sub-text {
  color: #9b9b9b;
  font-size: 14px;
}

.property-title-details-vr {
  display: inline;
  padding-left: 12px;

  @media (max-width: $screen-xs-max) {
    border-right: 1px solid $gray-light;
    margin-right: 5px;
    padding-left: 5px;
  }
}

.property-actions-wrapper {
  line-height: 36px;
  padding: 30px 0 0;
  text-align: center;

  > div > div {
    display: inline-block;
    line-height: 20px;
    vertical-align: middle;
  }

  @media (min-width: $screen-md-min) {
    padding-top: 45px;
  }
}

.property-action-container {
  @media (max-width: $screen-sm-max) {
    margin-top: 6px;
  }

  @media (min-width: $screen-md-min) {
    display: inline;
    padding-left: 6px;
  }
}

.property-actions-details,
.property-actions-preview-container,
.property-actions-refresh-container {
  @media (max-width: $screen-xs-max) {
    display: none !important;
  }
}

.property-actions-title {
  color: $gray-dark;
  font-size: 15px;
  font-weight: bold;
}

.property-actions-sub-title {
  color: #979797;
  font-size: 13px;
  font-weight: bold;
}

.property-actions-vr {
  border-right: 1px solid $gray-light;
  height: 25px;
  margin-right: 10px;
  padding-left: 10px;
}

.property-actions-refresh-container,
.property-actions-preview-container {
  display: inline;
  padding-left: 10px;

  @media (min-width: $screen-md-min) {
    padding: 0 7px;
  }
}

.property-action-button {
  background-color: $brand-white !important;
  border: none !important;
  height: 38px;
  width: 38px;

  &:active,
  &:focus {
    box-shadow: none !important;
    outline: none !important;
  }

  &:hover {
    opacity: 0.7;
  }
}

.property-save-button {
  background-color: #3398db;
  color: $brand-white;
}

.property-actions-menu-container {
  cursor: pointer;

  @media (max-width: $screen-xs-max) {
    left: 5px;
    padding: 13px 5px 0;
    position: absolute;
    top: 0;
  }

  @media (min-width: $screen-md-min) {
    padding-right: 7px;
  }
}

.property-actions-menu .popover-content {
  padding: 0;
}

.property-actions-menu-item {
  cursor: pointer;
  padding: 18px;
}

.property-actions-menu-item-icon {
  padding-left: 20px;
  vertical-align: middle;
}

.property-action-menu-item-show-mobile {
  display: none;

  @media (max-width: $screen-xs-max) {
    display: block;
  }
}

.property-content-container {
  background-color: $gray-lighter;
  padding: 70px 100px 20px;

  @media (max-width: $screen-md-max) {
    padding: 50px 80px 20px;
  }

  @media (max-width: $screen-sm-max) {
    padding: 30px 60px 20px;
  }

  @media (max-width: $screen-xs-max) {
    padding: 30px 20px 60px;
  }

  @media (max-width: $screen-xs-min) {
    padding: 25px 7px 60px;
  }
}

.property-edit-container {
  @media (max-width: $screen-xs-max) {
    /* this is so intercom button won't hide the bottom of the form in mobile */
    padding-bottom: 50px;
  }
}

.property-edit-actions-mobile {
  @media (max-width: $screen-xs-max) {
    top: 23px;
  }

  button {
    margin-right: 10px;
  }
}

