<!doctype html>
<html>
  <head>
    <meta http-equiv='Content-Type' content='text/html; charset=utf-8'>
    <meta name='viewport' content='width=device-width, initial-scale=1' />
    <title>dorbel</title>
    <script>
        window.__INITIAL_STATE__ = <%- JSON.stringify(initialState) -%>;
        window.dorbelConfig = <%- JSON.stringify(envVars) -%>;
    </script>
    <link rel="stylesheet" href="<% locals.buildHost || '' %>/build/bundle.css" type="text/css" />    
  </head>
  <body>
    <div id="root" class="full-height"><%- appHtml -%></div>
    <script src="<% locals.buildHost || '' %>/build/bundle.js"></script>
  </body>
</html>
