.apt-highlights-container {
  background: $brand-white;
  border-bottom: 1px solid $gray-lighter;
  border-top: 1px solid $gray-lighter;
  text-align: center;

  a {
    color: $brand-primary;

    &:hover {
      color: $brand-success;

      svg {
        fill: $brand-success;
      }
    }
  }
}

.apt-headline-container {
  background: $brand-white;
  margin-top: -1px;
  padding: 0 0 10px;

  h2 {
    font-weight: 600;
  }
}
