.listing-status-container {
  left: 15px;
  padding: 15px 0;
  position: absolute;
  text-align: center;
  top: 5px;

  @media (max-width: $screen-xs-max) {
    position: static;
  }

  button {
    height: 25px;
    line-height: 11px;
    z-index: 2;
  }

  .dropdown-menu {
    background-color: $gray-lighter !important;
    border: 1px solid $gray-dark !important;
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.175) !important;

    > li > a {
      padding: 5px 14px !important;
    }
  }
}

.listing-status-label {
  padding-left: 50px;
}

.listing-status-selector {
  background-color: $brand-white !important;
  border-radius: 100px;
  color: #4a4a4a !important;
  width: 130px;
}
