.listing-actions {
  background: $brand-white;
  color: $gray-dark;
  padding: 30px 5px 9px;
  padding-left: 15px;

  @media (max-width: $screen-xs-max) {
    padding-top: 10px;
  }
}

.listing-actions-like-button-wrapper {
  float: left;
  margin-top: -5px;
  text-align: center;

  .listing-actions-like-button {
    margin-right: 3px;
  }
}

.listing-actions-like-button-sub-text {
  font-size: 11px;
  color: #333;
  padding: 3px;
}
