.listing-info-container {
  padding: 15px;
}

.listing-info-item {
  border-left: 1px solid $gray-lighter;
  padding: 20px 0 15px;
  text-align: center;
  text-overflow: ellipsis;
  white-space: nowrap;

  @media (max-width: $screen-xs-max) {
    border: 0 !important;
    padding: 10px;
  }

  @media (max-width: $screen-md-max) {
    border-right: 0 !important;
  }

  &:last-child {
    border-left: none;

    @media (max-width: $screen-xs-max) {
      border-top: 1px solid $gray-lighter !important;
    }
  }

  &:first-child {
    border-right: 1px solid $gray-lighter;

    @media (max-width: $screen-xs-max) {
      border-left: 1px solid $gray-lighter !important;
    }
  }

  &:nth-child(3) {
    @media (max-width: $screen-sm-min) {
      border-top: 1px solid $gray-lighter !important;
      border-left: 1px solid $gray-lighter !important;
    }
  }
}

.listing-info-item-image {
  fill: $brand-primary;
  height: 44px;
  margin: 10px 0;
  width: 100%;

  @media (max-width: $screen-xs-max) {
    height: 30px;
    margin: 0;
  }
}
