.listing-menu-tabs {
  border-bottom: 1px solid #ddd;
  margin-bottom: 0;

  @media (max-width: $screen-xs-max) {
    border: none;
    min-height: 41px;

    .navbar-nav {
      margin: 0;

      > li > a {
        margin: 0;
      }
    }
  }
}
