.listing-owner-container {
  color: #9b9b9b;
  border-top: $gray-border;
  margin: 30px 0;
  padding: 10px 20px 50px;
  background-color: $brand-white;

  .listing-owner-title {
    font-weight: 600;
    line-height: 32px;
    padding: 0 0 8px;
  }

  .listing-owner-contact-container {
    padding-top: 10px;
    text-align: center;
  }

  .listing-owner-send-message {
    margin-right: 10px;
  }

  a {
    display: inline-block;
    margin-left: 15px;
    min-width: 84px;
  }
}
