.listing-social-share-container {
  display: inline-block;
  padding-right: 10px;

  a {
    color: $gray-dark;
    font-size: 18px;
  }

  svg {
    fill: $gray-dark;
    width: 18px;
    height: 18px;
    vertical-align: middle;
  }

  .listing-social-share-item {
    padding: 10px;
  }

  .listing-social-share-link {
    border-radius: 4px;
    color: #4a4a4a;
    cursor: pointer;
    display: inline-block;
    direction: ltr;
    font-size: 12px;
    height: 40px;
    line-height: 20px;
    overflow: hidden;
    padding: 9px 0 0 32px !important;
    position: relative;
    text-overflow: ellipsis;
    white-space: nowrap;
    vertical-align: middle;
    width: 40px;

    > i {
      background-color: $brand-white;
      bottom: 0;
      font-size: 16px;
      left: 0;
      padding-top: 11px;
      position: absolute;
      text-align: center;
      top: 0;
      width: 40px;

      @media (min-width: $screen-md-min) {
        background-color: #4a4a4a;
        color: $brand-white;
        width: 30px;
      }
    }

    > textarea {
      opacity: 0;
    }

    @media (min-width: $screen-md-min) {
      border: $gray-border;
      width: 100px;
    }
  }

  @media (min-width: $screen-md-min) {
    .fb-desktop,
    .email {
      display: inline;
    }

    .fb-mobile,
    .fb-messenger-mobile,
    .whatsapp {
      display: none;
    }
  }

  @media (max-width: $screen-sm-max) {
    .fb-desktop,
    .fb-messenger-desktop,
    .email {
      display: none;
    }

    .fb-mobile,
    .fb-messenger-mobile,
    .whatsapp {
      display: inline;
    }
  }
}
