.listing-description-container {
  padding-bottom: 10px;

  h5 {
    margin: 0;
    margin-bottom: 10px;
    line-height: $line-height-base*1.2;
    font-weight: 600;
    letter-spacing: 0.7px;
  }
}

.listing-description-item {
  padding: 20px 0 0;

  p {
    line-height: $line-height-base*1.2;
    color: $gray-light;
  }

  @media (max-width: $screen-xs-max) {
    padding: 10px 0 0;

    &:first-child h3 {
      margin-top: 70px;
    }
  }
}
