.listing-header {
  background: $brand-primary;
  height: 500px;
  position: relative;

  @media (max-width: $screen-xs-min) {
    height: 300px;
  }

  .listing-header-badge-container {
    position: absolute;
    text-align: center;
    top: 487px;
    width: 100%;
    z-index: 1;

    @media (max-width: $screen-xs-min) {
      top: 287px;
    }

    .listingBadge {
      border-radius: 100px;
      display: inline-block;
      width: 190px;
      top: 485px;
    }
  }
}

.listing-header-to-dashboard {
  border: 1px solid $gray-lighter;
  border-radius: 4px;
  color: $gray-lighter;
  display: block;
  font-size: 13px;
  height: 30px;
  line-height: 28px;
  position: absolute;
  right: 32px;
  text-align: center;
  top: 16px;
  width: 100px;
  z-index: 1;

  &:hover {
    color: $gray-lighter;
  }

  &::before {
    content: '\f015';
    font-family: FontAwesome;
    margin-left: 5px;
  }

  @media (max-width: $screen-xs-max) {
    right: 12px;
    top: 11px;
  }
}

.fixed-carousel {
  display: flex;
  direction: ltr;
}

.flickity-page-dots {
  display: none;
}

.flickity-prev-next-button:disabled {
  display: none;
}

.sliderBoxes img {
  border-right: 2px solid white;
  height: 500px;

  @media (max-width: $screen-xs-min) {
    height: 300px;
  }
}
