.listing-menu-tabs {
  margin: 0;

  .navbar-nav > li {
    @media (max-width: $screen-xs-max) {
      min-width: 50%;
      text-align: center;
    }

    > a {
      border: none !important;
    }

    &.active {
      border-bottom: 2px solid $brand-primary;
    }
  }
}
