.listing-header {
  background: $brand-primary;
  height: 500px;
  position: relative;

  @media (max-width: $screen-xs-min) {
    height: 300px;
  }

  .listing-header-badge-container {
    position: absolute;
    text-align: center;
    top: 487px;
    width: 100%;
    z-index: 1;

    @media (max-width: $screen-xs-min) {
      top: 287px;
    }

    .listingBadge {
      border-radius: 100px;
      display: inline-block;
      width: 190px;
      top: 485px;
    }
  }
}

.listing-header-to-dashboard {
  background-color: #fff;
  border: $gray-border;
  border-radius: 4px;
  box-shadow: 0 2px 15px 0 rgba(0, 0, 0, 0.1);
  color: $gray;
  display: block;
  font-size: 14px;
  font-weight: bold;
  height: 30px;
  line-height: 28px;
  margin-left: 10px;
  right: 32px;
  text-align: center;
  top: 16px;
  width: 110px;
  z-index: 1;

  &:hover {
    color: $gray;
  }

  &::before {
    content: '\f013';
    font-family: FontAwesome;
    margin-left: 5px;
  }

  @media (max-width: $screen-xs-max) {
    font-size: 13px;
    margin-left: 0;
    right: 12px;
    top: 11px;
    width: 100px;
  }
}

.fixed-carousel {
  display: flex;
  direction: ltr;
}

.flickity-page-dots {
  display: none;
}

.flickity-prev-next-button:disabled {
  display: none;
}

.sliderBoxes img {
  height: 500px;

  @media (max-width: $screen-xs-min) {
    height: 300px;
  }
}
