.listing-info-container {
  padding: 5px 15px;
}

.listing-info-item {
  padding: 5px 0;
  text-align: center;

  @media (max-width: $screen-xs-max) {
    padding: 5px;
  }
}

.listing-info-item-image {
  fill: $brand-primary;
  height: 32px;
  margin: 10px 0;
}

.listing-info-item-text {
  font-size: 13px;
}
