.listing-info-container {
  margin: 0;
  padding: 0;
}

.listing-info-item {
  border-left: 1px solid $gray-lighter;
  padding: 20px 0 15px;

  @media (max-width: $screen-sm-min) {
    border: 0 !important;
  }

  @media (max-width: $screen-lg-min) {
    border-right: 0 !important;
  }

  &:last-child {
    border-left: none;

    @media (max-width: $screen-sm-min) {
      border-top: 1px solid $gray-lighter !important;
    }
  }

  &:first-child {
    border-right: 1px solid $gray-lighter;

    @media (max-width: $screen-sm-min) {
      border-left: 1px solid $gray-lighter !important;
    }
  }

  &:nth-child(3) {
    @media (max-width: $screen-sm-min) {
      border-top: 1px solid $gray-lighter !important;
      border-left: 1px solid $gray-lighter !important;
    }
  }
}

.listing-info-item-image {
  fill: $brand-primary;
  height: 44px;
  margin: 10px 0;
  width: 91%;
}
