#map {
  height: 400px;
}

.map-container {
  position: relative;
}

.map-cta-container {
  border-radius: $border-radius-large;
  left: 45px;
  overflow: hidden;
  position: absolute;
  text-align: center;
  top: 70px;

  @include box-shadow(0 0 8px 2px rgba(0, 0, 0, 0.1));

  .top {
    background-color: $brand-white;
    padding: 23px;
    width: 260px;
  }

  button {
    padding: 10px;
    width: 100%;

    @include border-top-radius(0);
  }
}
