.listing-choose-date-container {
  margin-bottom: 0;

  @media (min-width: $screen-md-min) {
    left: 15px;
    position: absolute;
    top: -50px;
  }

  .listing-choose-date-title {
    background-color: $gray-lighter;
    color: $gray-dark;
    margin: 0;
    padding: 10px 20px;
    text-align: right;
  }

  .list-group-item {
    border: none;
    border-bottom: 1px solid #ddd;
    border-radius: 0;
    margin: 0;
    padding: 10px 5px;

    &.disabled {
      background-color: $brand-white;
    }

    &:not(.disabled) {
      cursor: pointer;
    }
  }

  .dorbel-icon-calendar {
    font-size: $font-size-large;
    margin: 8px 14px 8px 10px;

    svg {
      width: 15px;
      height: 15px;
    }
  }
}

.date-and-time span:last-child {
  color: lighten($gray-light, 10%);
  font-size: $font-size-small;
}

.ohe-list-item-action {
  background-color: #3CB878;
  border-radius: 2px;
  color: $brand-white;
  height: 24px;
  left: 15px;
  padding: 3px 5px;
  position: absolute;
  top: 18px;
}

.listing-rented-notification {
  color: #4a4a4a;
  font-size: 13px;
  line-height: 21px;
  padding-bottom: 20px;
}

.listing-followers-count {
  color: #555;
  font-size: 11px;
  padding-top: 12px;
}

.ohe-list-open-action-text {
  color: #3cb878 !important;
}

.ohe-list-follow-container {
  padding: 20px 0;
  text-align: center;

  img {
    width: 100%;
  }

  i {
    position: absolute;
    font-family: Georgia, serif;
    display: block;
    top: 0;
    right: 0;
    background-color: $brand-success;
    border-radius: 50%;
    width: 30px;
    height: 30px;
    line-height: 29px;
    color: $brand-white;
  }

  h5 {
    padding-top: 15px;
    line-height: $line-height-computed*0.7;
  }

  .follow-action {
    border: 1px solid #3398db;
    border-radius: 4px;
    color: #3398db;
    cursor: pointer;
    padding: 6px 16px;
    width: 250px;

    &:hover {
      background-color: #3398db;
      border-color: #3398db;
      color: $brand-white;
    }
  }
}
