.listing-choose-ohe-container {
  background-color: $brand-white;
  box-shadow: 0 2px 20px 0 rgba(0, 0, 0, 0.15);
  margin-bottom: 15px;

  .listing-choose-ohe-title {
    color: $gray-dark;
    font-weight: 600;
    margin: 0 20px;
    padding: 25px 0;
  }

  .list-group-item {
    border: none;
    border-top: $gray-border;
    border-radius: 0;
    margin: 0 20px;
    padding: 5px;

    &.disabled {
      background-color: $brand-white;
    }

    &:not(.disabled) {
      color: $gray-dark;
      cursor: pointer;

      .ohe-list-item-text {
        border-radius: 2px;
        font-size: 13px;
        line-height: 35px;
        width: 110px;
      }
    }
  }

  .ohe-list-calendar-icon-container {
    display: inline-block;
    font-size: $font-size-large;
    padding-left: 15px;

    svg {
      width: 15px;
      height: 15px;
    }
  }
}

.ohe-list-date-and-time-container {
  display: inline-block;
  vertical-align: middle;
  font-size: 14px;
  font-weight: bold;

  .ohe-text {
    color: lighten($gray-light, 10%);
    font-weight: normal;
  }
}

.ohe-list-item-text-container {
  color: #9b9b9b;
  float: left;
  height: 41px;
  line-height: 36px;
  text-align: center;
}

.ohe-list-item-text {
  display: inline-block;
  font-size: 12px;
  line-height: 18px;
  vertical-align: middle;
  width: 92px;
}

.ohe-list-open-action-text {
  background-color: #3cb878;
  color: $brand-white;
}

.ohe-list-registered-action-text {
  color: #4d4d4d;
  background-color: #e8e8e8;
}

.red-heart {
  color: #ea441a;
}

.listing-rented-notification {
  color: #4a4a4a;
  line-height: 21px;
  padding: 25px 10px 0;
}

.ohe-list-notification-container {
  text-align: center;
}

.ohe-list-loading-container {
  padding-top: 40px;
}
