.listing-choose-date-container {
  margin-bottom: 0;

  .listing-choose-date-title {
    color: $gray-dark;
    margin: 0;
    padding: 10px 20px;
    text-align: right;
  }

  .list-group-item {
    &:first-child {
      @include border-top-radius(0);
    }

    &:not(.disabled) {
      .date-and-time {
        cursor: pointer;
      }
    }
  }

  .dorbel-icon-calendar {
    font-size: $font-size-large;
    padding: 10px 10px 0 15px;

    svg {
      width: 41px;
      height: 16px;
    }
  }

  .dorbel-icon-arrow {
    padding-left: 15px;
    line-height: ceil($line-height-large*2);
  }
}

.date-and-time {
  @media (max-width: $screen-lg-min) {
    padding: 12px 10px 0 15px;
  }

  @media (max-width: $screen-xs-max) {
    padding: 12px 0 0 15px;
  }

  span:last-child {
    color: lighten($gray-light, 10%);
    font-size: $font-size-small;
  }
}

.listing-rented-notification {
  color: #4a4a4a;
  font-size: 13px;
  line-height: 21px;
  padding-bottom: 20px;
}

.listing-followers-count {
  color: #555;
  font-size: 11px;
  padding-top: 12px;
}

.ohe-list-open-action-text {
  color: #3cb878 !important;
}

.ohe-list-follow-container {
  padding: 20px 0;
  text-align: center;

  img {
    width: 100%;
  }

  i {
    position: absolute;
    font-family: Georgia, serif;
    display: block;
    top: 0;
    right: 0;
    background-color: $brand-success;
    border-radius: 50%;
    width: 30px;
    height: 30px;
    line-height: 29px;
    color: $brand-white;
  }

  h5 {
    padding-top: 15px;
    line-height: $line-height-computed*0.7;
  }

  .follow-action {
    border: 1px solid #3398db;
    border-radius: 4px;
    color: #3398db;
    cursor: pointer;
    padding: 6px 16px;
    width: 250px;

    &:hover {
      background-color: #3398db;
      border-color: #3398db;
      color: $brand-white;
    }
  }
}
