.listing-wrapper {
  @media (max-width: $screen-xs-max) {
    padding-top: 55px;
  }
}

.listing-owner-section,
.listing-container {
  position: relative;
}

.listing-title-section {
  border-bottom: $gray-border;
  padding: 10px 0;
}

.location-container {
  background-color: lighten($gray-lighter, 2%);
}

.listing-title-container {
  padding-left: 0;
  padding-right: 15px;

  .listing-social-share-container {
    margin-right: 10px;
  }
}

.listing-title {
  font-size: 18px;
  font-weight: bold;
}

.listing-sub-title {
  font-size: 15px;
  color: #9b9b9b;
}

.listing-interested-box {
  @media (min-width: $screen-md-min) {
    left: 0;
    padding: 0;
    position: absolute;
    top: 34px;
    z-index: 1;
  }
}
