.location-container {
  background-color: lighten($gray-lighter, 2%);
}

.listing-title {
  font-size: 18px;
  font-weight: bold;
}

.listing-sub-title {
  font-size: 15px;
  color: #9B9B9B;
}

.listing-ohe-box {
  @media (min-width: $screen-md-min) {
    left: 15px;
    position: absolute;
    top: 498px;
  }
}
