.location-container {
  background-color: lighten($gray-lighter, 2%);
}

.listing-title {
  padding: 0 15px;
}

.listing-ohe-box {
  @media (min-width: $screen-md-min) {
    left: 15px;
    position: absolute;
    top: 498px;
  }
}
