@import "../../sharedStyles/variables.scss";
@import "../../sharedStyles/bsvars.scss";

.listing-share-modal {
  @media (min-width: $screen-sm-max) {
    margin-top: 10px;
    margin-bottom: 10px;
  }

  .listing-share-modal-title {
    font-size: 24px;
    color: #428bca;
    margin-top: -30px;
  }

  .listing-share-modal-heading {
    font-size: 18px;

    .bold {
      font-weight: bold;
    }
  }

  .listing-share-modal-body-text {
    font-size: 16px;
    color: $gray;
    max-width: 345px;
    padding: 15px 0;
    margin: 0 auto;
  }

  .listing-share-modal-button-wrapper {
    display: inline-block;
    margin: 0 15px;

    img {
      height: 25px;
    }
  }

  .listing-share-modal-contact-us {
    font-size: 16px;
    color: $gray-light;
    margin-top: 20px;

    a,
    a:active {
      color: $gray-light;
    }
  }
}
