@import "../sharedStyles/variables.scss";

.listingBadge {
  background-color: #67269d;
  box-shadow: 0 2px 10px 0 rgba(0, 0, 0, 0.2);
  height: 25px;
  padding: 3px 10px;
  text-align: center;
  z-index: 1;

  .badgeText {
    color: $brand-white;
    font-size: 13px;
    font-weight: 700;
    text-align: center;
  }

  &.rented {
    background-color: #0086ff;
  }

  &.roommates {
    background-color: #f09b0a;
  }

  &.unlisted,
  &.deleted {
    background-color: #2d3e50;
  }
}
