@import "../sharedStyles/bsvars.scss";
@import "../sharedStyles/variables.scss";

.badgeContainer {
  position: absolute;
  z-index: 1;

  .listingBadge {
    border-left: 110px solid transparent;
    border-top: 110px solid;
    height: 0;
    opacity: 0.7;
    width: 0;

    .badgeText {
      @include rotate(45deg);
      @include transform-origin(center center);

      color: $brand-white;
      font-size: 15px;
      font-weight: 700;
      max-width: 60px;
      position: absolute;
      right: 20px;
      text-align: center;
      top: 30%;
    }

    &.rented {
      border-top-color: #0086ff;
    }

    &.roommates {
      border-top-color: #f09b0a;
    }

    &.unlisted {
      border-top-color: #2d3e50;
    }

    &.pending {
      border-top-color: #9b9b9b;
    }

    &.unlisted,
    &.pending {
      .badgeText {
        top: 15%;
        right: 10px;
      }
    }
  }
}
