@import "../sharedStyles/styles.scss";

.search-widget-wrapper {
  border-bottom: 1px solid #eeeeee;
}

.search-widget-container {
  padding: 35px 0;
  text-align: center;

  .city-picker {
    display: inline-block;
    position: relative;
  }

  i {
    background-color: $brand-primary;
    border-radius: 50%;
    color: $brand-white;
    cursor: pointer;
    display: block;
    font-family: 'georgia';
    height: 22px;
    left: -15px;
    line-height: 22px;
    position: absolute;
    top: -10px;
    width: 22px;
    z-index: 1;
  }
}
