@import "../sharedStyles/variables.scss";

.share-listing-to-groups-modal-body {
  margin-top: -20px;
  font-size: 13px;
}

.share-listing-to-groups-section {
  margin-top: 25px;
  text-align: right;
}

.share-listing-to-groups-section-2 {
  margin-top: 50px;
}

.share-listing-to-groups-section-3 {
  text-align: left;
}

.share-listing-to-groups-textarea {
  background-color: $gray-lighter;
  font-size: 12px;
  margin-bottom: 5px;
  margin-top: 5px;
  width: 100%;
}

.share-listing-to-groups-copy-button {
  color: $brand-white;
  background-color: $gray-button;
}

.share-listing-to-groups-group-button {
  background-color: #096abd !important;
  color: $brand-white !important;
  overflow-x: hidden;
  padding-left: 20px;
  text-align: right;
  text-overflow: ellipsis;

  &::before {
    content: "\f09a";
    font-family: FontAwesome;
    margin-left: 5px;
  }

  > .small-text {
    color: $brand-white;
  }
}

.share-listing-to-groups-group-icon::before {
  left: -14px;
  position: absolute;
  top: -7px;
}

