.filter-component {
  height: 100%;
}

.filter-toggle-container {
  left: 100px;
  position: fixed;
  right: 100px;
  text-align: center;
  top: 15px;
  z-index: 1030;

  button {
    width: 110px;

    &::after {
      content: '\f0b0';
      font-family: FontAwesome;
      margin-right: 5px;
    }
  }

  @media (min-width: $screen-sm-min) {
    display: none;
  }
}

.filter-wrapper {
  background-color: $brand-white;
  z-index: 2;

  @include box-shadow(0 2px 10px 0 rgba(0, 0, 0, 0.2));

  @media (max-width: $screen-xs-max) {
    height: 100%;
    left: 0;
    -webkit-overflow-scrolling: touch;
    overflow-y: scroll;
    padding: 24px 15px 55px;
    position: fixed;
    right: 0;

    &.hide-mobile-filter {
      display: none;
    }
  }

  @media (min-width: $screen-sm-min) {
    padding: 20px 15px;
    position: absolute;
    width: 100%;

    &.filter-wrapper-collapse {
      padding-bottom: 6px;
    }
  }
}

.filter-collapse-handle {
  border-bottom: 1px solid #cecece;
  border-top: 1px solid #cecece;
  height: 4px;
  margin: 20px auto 0;
  opacity: 1;
  transition: opacity 1s;
  width: 60px;

  &.filter-collapse-handle-hidden {
    margin: 0;
    opacity: 0;
    transition: opacity 0s;
  }
}

.filter-actions-container {
  @media (max-width: $screen-xs-max) {
    text-align: center;
  }
}

.filter-close {
  background-color: $brand-info !important;
  border-color: $brand-info;
  display: inline-block;
  margin-right: 16px;
  width: 96px;

  @media (min-width: $screen-sm-min) {
    display: none;
  }
}

.filter-trigger-container {
  border: 1px solid #d8d8d8;
  border-radius: 4px;
  cursor: pointer;
  display: inline-block;
  font-size: 15px;
  height: 35px;
  line-height: 32px;
  padding-right: 13px;
  text-align: right;
  vertical-align: middle;
  width: 100%;

  &::after {
    content: '\f0d7';
    font-family: FontAwesome;
    left: 25px;
    position: absolute;
  }

  &.filter-trigger-active::after {
    color: #3398db;
    content: '\f058';
    font-size: 22px;
  }

  @media (max-width: $screen-xs-max) {
    height: 45px;
    line-height: 41px;
    margin: 10px auto;
    padding: 0;
    text-align: center;
  }
}

.filter-dropdown-wrapper > div {
  width: 100%;
}

.filter-dropdown {
  background-color: $brand-white !important;
  border: 1px solid #d8d8d8 !important;
  border-radius: 4px !important;
  box-shadow: none !important;
  font-size: 15px !important;
  line-height: 13px !important;
  overflow: hidden;
  padding-left: 25px !important;
  text-align: right;
  text-overflow: ellipsis;
  width: 100%;

  &::after {
    content: '\f0d7';
    font-family: FontAwesome;
    left: 9px;
    position: absolute;
  }

  &.filter-trigger-active::after {
    color: #3398db;
    content: '\f058';
    font-size: 22px;
  }

  @media (max-width: $screen-xs-max) {
    height: 45px;
    margin: 10px auto;
    text-align: center;
  }
}

.filter-save {
  background-color: $brand-white;
  border-color: $brand-info;
  color: $brand-info;
  display: inline-block;
  width: 96px;
}

.filter-admin-switch {
  display: inline-block;
  width: 157px;

  @media (max-width: $screen-xs-max) {
    width: 130px;
  }
}

.filter-switch-group-header {
  margin-bottom: 3px;

  .like-filter-icon {
    color: #ea441a;
    margin-left: 5px;
  }
}

.filter-input-wrapper {
  display: inline-block;
  font-size: 13px;
  vertical-align: top;
  width: 50%;
}

.filter-amenities-container {
  font-size: 13px;
  line-height: $line-height-computed;

  .checkbox {
    padding-bottom: 15px;
  }

  > [class*='col-'] {
    padding-left: 0;
    padding-right: 0;
  }
}

.filter-area-popup,
.filter-mr-popup,
.filter-extra-popup,
.filter-rooms-popup,
.filter-lease-start-popup {
  border: none;
  border-radius: 0;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.1);
  margin-top: 7px !important;
  max-width: none;
  width: 290px;
  z-index: 10;

  > .arrow {
    display: none;
  }
}

#min-lease-date-picker_group .fade.in.popover.bottom {
  margin-top: 54px;
}

#max-lease-date-picker_group .fade.in.popover.bottom {
  margin-top: 122px;
}

.filter-extra-popup {
  @media (min-width: $screen-sm-min) {
    width: 345px;
  }
}

// nouislider overrides
.filter-mr-popup,
.filter-rooms-popup {
  height: 100px;

  .popover-content {
    padding: 31px;
  }

  .noUi-target {
    height: 4px;
    width: 220px;
  }

  .noUi-connect {
    background-color: $brand-primary;
  }

  .noUi-value-large {
    font-size: 15px;

    &:last-child::after {
      color: $brand-success;
      content: "+";
    }
  }
}

.filter-mr-popup .noUi-value-large::before {
  color: $gray-light;
  content: "₪";
  font-size: 12px;
}

.noUi-target * {
  direction: ltr;
}

.noUi-marker {
  width: 1px !important;
}

.noUi-handle {
  background-color: $brand-white !important;
  border: 1px solid lighten($gray-light, 30%) !important;
  border-radius: 50% !important;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1) !important;
  cursor: pointer !important;
  height: 19.6px !important;
  left: -10px !important;
  top: -9px !important;
  width: 19.6px !important;

  &:hover {
    cursor: hand !important;
  }

  &::before,
  &::after {
    display: none !important;
  }
}

.noUi-connect {
  height: 4px;
}

.noUi-value-sub {
  font-size: 12px;
}

.noUi-value-large {
  color: $brand-primary;
  padding-top: 5px;
}
