.search-container {
  height: 100%;
  overflow-y: hidden;
  position: relative;

  .search-results-not-found,
  .search-results-scroll {
    margin-top: 76px;
    padding-top: 39px;

    @media (max-width: $screen-xs-max) {
      margin-top: 0;
      padding-top: 20px;
    }
  }
}

.search-results-scroll {
  background-color: $gray-lighter;
  height: 100%;

  @media (min-width: $screen-sm-min) {
    overflow-y: auto;
  }

  @media (max-width: $screen-xs-max) {
    overflow-y: scroll; /* has to be scroll, not auto */
    -webkit-overflow-scrolling: touch;
  }
}

.search-container .search-results-container {
  @media (min-width: $screen-sm-min) {
    width: 630px;
  }

  @media (min-width: $screen-md-min) {
    width: 968px;
  }
}

.my-properties-container,
.my-likes-container {
  .search-results-container {
    @media (min-width: $screen-sm-min) {
      width: 350px;

      > div > div {
        width: 100%;
      }
    }

    @media (min-width: $screen-md-min) {
      width: 644px;

      > div > div {
        width: 50%;
      }
    }

    @media (min-width: $screen-lg-min) {
      width: 967px;

      > div > div {
        width: 33.33333%;
      }
    }
  }
}

.search-results-not-found {
  font-size: 15px;
  text-align: center;
  padding: 20px 0;

  a {
    text-decoration: underline;
  }

  @media (min-width: $screen-md-min) {
    padding: 300px 0;
  }
}

.search-results-not-found-title {
  font-size: 17px;
}
