.search-container {
  background-color: $gray-lighter;
  height: 100%;
  overflow-y: hidden;
  position: relative;
}

.search-results-scroll {
  height: 100%;
  margin-top: 76px;
  overflow-y: auto;
  padding-top: 39px;

  @media (max-width: $screen-xs-max) {
    margin-top: 0;
    padding-top: 20px;
  }
}

.search-results-wrapper {
  background-color: $gray-lighter;
  margin-top: 117px;

  @media (max-width: $screen-xs-max) {
    height: 100%;
    margin-top: 20px;

    .search-results-scroll {
      height: 100%;
      overflow-y: scroll; /* has to be scroll, not auto */
      -webkit-overflow-scrolling: touch;
    }
  }

  .search-results-container {
    background-color: $gray-lighter;

    @media (max-width: $screen-xs-max) {
      .thumbnail {
        margin-bottom: 40px;
      }
    }
  }

  .loader-container {
    top: -39px;
  }
}

.search-results-not-found {
  font-size: 15px;
  text-align: center;
  padding: 20px 0;

  a {
    text-decoration: underline;
  }

  @media (min-width: $screen-md-min) {
    padding: 300px 0;
  }
}

.search-results-not-found-title {
  font-size: 17px;
}
