@import "../../sharedStyles/variables.scss";

.my-settings-input {
  padding-bottom: 10px;
  position: relative;

  .react-toggle {
    pointer-events: none;
    position: absolute;
  }

  label {
    color: $gray-light;
  }

  .checkbox {
    line-height: 24px;
    margin: 0;

    > label {
      padding-right: 25px;

      > input {
        cursor: pointer;
        height: 24px;
        margin: 0;
        opacity: 0;
        right: -30px;
        width: 50px;
      }
    }
  }

  .control-label {
    width: 0;
  }
}
