@import "../../sharedStyles/variables.scss";

.my-settings-input {
  padding-bottom: 21px;
  position: relative;

  .react-toggle {
    position: absolute;
  }

  label {
    color: $gray-light;
    font-weight: normal;
    padding-right: 50px;
  }

  .checkbox {
    margin: 0;

    > label > input {
      opacity: 0;
    }
  }
}
