@import "../sharedStyles/bsvars.scss";
    
.ohe-register-modal {
  .close {
    padding-right: 10px;
  }
  
  .ohe-register-submit{
    margin-top: 24px;
  } 

  @media (max-width: $screen-md-min) {
    .ohe-modal-input {
        padding-bottom: 5px;
    }
    .ohe-register-submit{
        margin-top: 0;
    } 
  }
}
  