@import "../sharedStyles/bsvars.scss";
    
.oheRegisterModal {
  .close {
    padding-right: 10px;
  }
  
  .oheRegisterSubmit{
    margin-top: 24px;
  } 

  @media (max-width: $screen-md-min) {
    .oheModalInput {
        padding-bottom: 5px;
    }
    .oheRegisterSubmit{
        margin-top: 0;
    } 
  }
}
  