.apt-header {
  background: $brand-primary;
  height: 500px;
  margin-bottom: 10px;
  position: relative;
  @media (max-width: $screen-xs-min) {
    height: 300px;
  }
}

.navbar {
  @include gradient-vertical(rgba(255, 255, 255, 0.5), rgba(255, 255, 255, 0), 0%, 100%);
  border: 0;
  @media (max-width: $screen-xs-min) {
    background-color: #fff;
    .btn-success {
      display: block;
    }
  }
}

.sliderBoxes {
  img {
    border-right: 2px solid white;
    height: 500px;
    @media (max-width: $screen-xs-min) {
      height: 300px;
    }
  }
}

.fixed-carousel {
  display: flex;
  direction: ltr;
}

.flickity-page-dots {
  display: none;
}

.flickity-prev-next-button:disabled {
  display: none;
}
