.apt-reserve-container {
  position: relative;
  width: 100%;
  z-index: 1;

  @include box-shadow(0 0 8px 2px rgba(0, 0, 0, 0.05));

  a {
    outline: none;
  }

  @media (min-width: $screen-lg-min) {
    left: 15px;
    position: absolute;
    top: -7px;
  }

  .dorbel-arrow-container {
    position: absolute;
    left: -80px;
    top: 50%;

    svg {
      fill: lighten($gray-light, 40%);
      width: 60px;
      display: block;
      margin: 0 auto;
      position: relative;
    }
  }

  .arrow-cta {
    text-align: center;
    position: absolute;
    width: 112px;
    font-size: $font-size-small;
    bottom: -35px;
    color: $brand-success;
    line-height: $line-height-small;

    @include rotate(10deg);
  }

  .highlight {
    color: #ea441a;
  }
}

.listing-menu-tabs {
  border-bottom: 1px solid #ddd;
  margin-bottom: 0;

  @media (max-width: $screen-xs-max) {
    border: none;
    min-height: 41px;

    .navbar-nav {
      margin: 0;

      > li > a {
        margin: 0;
      }
    }
  }
}

.listing-menu-status-selector {
  @media (max-width: $screen-xs-max) {
    right: 20px;
    position: absolute;
    top: 47px;
    z-index: 2;

    > li > a {
      border: none;
      color: $brand-white !important;
      height: 41px;
    }

    .dropdown-menu {
      background-color: $gray-lighter !important;
      border: 1px solid $gray-dark !important;
      box-shadow: 0 6px 12px rgba(0, 0, 0, 0.175) !important;

      > li > a {
        padding: 5px 14px !important;
      }
    }
  }
}

.apt-box-container {
  background: $gray-dark;
  color: $brand-white;
  line-height: $line-height-large*1.3;
  padding: 6px 40px 0;
  position: relative;

  @media (max-width: $screen-xs-max) {
    .price-container {
      text-align: left;
    }
  }

  .social-share-container {
    border-bottom: 1px solid #eee;
    padding: 9px 5px;

    a {
      color: $gray-dark;
      font-size: 20px;
    }

    svg {
      fill: $gray-dark;
      width: 20px;
      height: 20px;
      vertical-align: middle;
    }

    .padding {
      padding: 10px;
    }

    @media (min-width: $screen-sm-max) {
      .fb-desktop,
      .fb-messenger-desktop,
      .email {
        display: inline;
      }

      .fb-mobile,
      .fb-messenger-mobile,
      .whatsapp {
        display: none;
      }
    }

    @media (max-width: $screen-sm-max) {
      .fb-desktop,
      .fb-messenger-desktop,
      .email {
        display: none;
      }

      .fb-mobile,
      .fb-messenger-mobile,
      .whatsapp {
        display: inline;
      }
    }
  }

  .social-share-wrapper {
    background: $brand-white;
    color: $gray-dark;
    margin-left: -40px;
    margin-right: -40px;
  }

  @media (min-width: $screen-lg-min) {
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
  }

  .price {
    display: inline;
    font-size: ceil($font-size-large*1.2);
  }

  .price-desc {
    display: inline;
    line-height: $line-height-large*2.2;
  }
}

.apt-choose-date-container {
  margin-bottom: 0;

  .apt-choose-date-title {
    color: $gray-dark;
    margin: 0;
    padding: 10px 20px;
    text-align: right;
  }

  .list-group-item {
    &:first-child {
      @include border-top-radius(0);
    }

    &:not(.disabled) {
      .date-and-time {
        cursor: pointer;
      }
    }
  }

  .dorbel-icon-calendar {
    font-size: $font-size-large;
    padding: 10px 10px 0 15px;

    svg {
      width: 41px;
      height: 16px;
    }
  }

  .dorbel-icon-arrow {
    padding-left: 15px;
    line-height: ceil($line-height-large*2);
  }
}

.date-and-time {
  @media (max-width: $screen-lg-min) {
    padding: 12px 10px 0 15px;
  }

  @media (max-width: $screen-xs-max) {
    padding: 12px 0 0 15px;
  }

  span:last-child {
    color: lighten($gray-light, 10%);
    font-size: $font-size-small;
  }
}

.ohe-list-open-action-text {
  color: #3cb878 !important;
}

.owner-container {
  padding: 20px 0 20px;
  text-align: center;

  img {
    width: 100%;
  }

  i {
    position: absolute;
    font-family: Georgia, serif;
    display: block;
    top: 0;
    right: 0;
    background-color: $brand-success;
    border-radius: 50%;
    width: 30px;
    height: 30px;
    line-height: 29px;
    color: $brand-white;
  }

  h5 {
    padding-top: 15px;
    line-height: $line-height-computed*0.7;
  }

  .follow-action {
    border: 1px solid #3398db;
    border-radius: 4px;
    color: #3398db;
    cursor: pointer;
    padding: 6px 16px;
    width: 250px;

    &:hover {
      background-color: #3398db;
      border-color: #3398db;
      color: $brand-white;
    }
  }
}
