.apt-header {
  background: $brand-primary;
  height: 500px;
  margin-bottom: 10px;
  position: relative;

  @media (max-width: $screen-xs-min) {
    height: 300px;
  }

  .apt-header-badge-container {
    position: absolute;
    text-align: center;
    top: 487px;
    width: 100%;
    z-index: 1;

    .listingBadge {
      border-radius: 100px;
      display: inline-block;
      width: 190px;
      top: 485px;
    }

    @media (max-width: $screen-md-max) {
      text-align: right;
      top: 0;

      .listingBadge {
        background: transparent;
        border-left: 110px solid transparent;
        border-radius: 0;
        border-top: 110px solid;
        box-shadow: none;
        opacity: 0.7;
        padding: 0;
        width: 0;

        .badgeText {
          @include rotate(45deg);
          @include transform-origin(center center);

          font-size: 15px;
          font-weight: 700;
          max-width: 60px;
          position: absolute;
          right: 20px;
          text-align: center;
          top: 30%;
        }

        &.rented {
          border-top-color: #0086ff;
        }

        &.roommates {
          border-top-color: #f09b0a;
        }

        &.unlisted {
          border-top-color: #2d3e50;
        }

        &.pending {
          border-top-color: #9b9b9b;
        }

        &.unlisted,
        &.pending {
          .badgeText {
            top: 15%;
            right: 10px;
          }
        }
      }
    }
  }
}

.fixed-carousel {
  display: flex;
  direction: ltr;
}

.flickity-page-dots {
  display: none;
}

.flickity-prev-next-button:disabled {
  display: none;
}

.location-container {
  background-color: lighten($gray-lighter, 2%);
}

.navbar {
  @include gradient-vertical(rgba(255, 255, 255, 0.5), rgba(255, 255, 255, 0), 0%, 100%);

  border: 0;

  @media (max-width: $screen-xs-min) {
    background-color: #fff;

    .btn-success {
      display: block;
    }
  }
}

.sliderBoxes img {
  border-right: 2px solid white;
  height: 500px;

  @media (max-width: $screen-xs-min) {
    height: 300px;
  }
}
