@import "../sharedStyles/bsvars.scss";

.ohe-card-row {
  padding-bottom: 10px;
  position: relative;

  .panel-body {
    box-shadow: 0 4px 2px -2px rgba(0, 0, 0, 0.1);
    padding-right: 8px !important;
  }

  .ohe-card-row-icon-container {
    padding-right: 0;
  }

  .ohe-card-user-image-cell > img {
    width: 50px;
  }

  .ohe-card-user-status-cell {
    color: #3cb878;
  }

  .ohe-card-row-icon {
    font-size: 20px;
    line-height: 33px;
    padding-left: 22px;
    text-align: center;
    width: 73px;
  }

  @media (min-width: $screen-sm-min) {
    .ohe-card-user-image-cell {
      width: 80px;
    }

    .ohe-card-user-name-cell {
      text-overflow: ellipsis;
      white-space: nowrap;
      width: 170px;
    }

    .ohe-card-user-status-cell {
      width: 100px;
    }

    .ohe-card-user-phone-cell {
      width: 140px;
    }
  }

  @media (max-width: $screen-xs-max) {
    .panel-body {
      padding: 15px 0;
    }

    .ohe-card-row-icon {
      padding-left: 0;
      width: 40px;
    }

    .ohe-card-row-date,
    .ohe-card-row-time {
      padding-right: 9px;
    }

    .ohe-card-row-reg-num-col {
      padding-left: 30px;
      padding-right: 0;
    }

    .ohe-card-user-table {
      .ohe-card-user-table-row {
        border-bottom: 1px solid $gray-lighter;
      }

      td {
        border: none;
        display: inline-block;
      }

      .ohe-card-user-image-cell > img {
        width: 40px;
      }

      .ohe-card-user-name-cell {
        padding-top: 6px;
        vertical-align: top;
      }

      .ohe-card-user-status-cell {
        float: left;
        padding-top: 6px;
        vertical-align: top;
      }

      .ohe-card-user-phone-cell {
        margin-top: 22px;
        position: absolute;
        right: 57px;
        vertical-align: bottom;
      }

      .ohe-card-user-links-cell {
        left: -12px;
        padding-top: 18px;
        position: absolute;
      }
    }
  }
}

.ohe-no-visits {
  color: #cecece;
}

.ohe-card-menu {
  left: 0;
  position: absolute;
  top: 10px;
}

.ohe-card-facebook {
  color: #979797;
}
