.ohe-card-row {
  padding-bottom: 10px;
}

.ohe-no-visits {
  color: #cecece;
}

.table > tbody > tr > td.ohe-card-user-image-cell {
  padding-right: 30px;
}

.ohe-card-facebook {
  color: #979797;
}
