@import "../../sharedStyles/variables.scss";

.lease-stats {
  .lease-stats-header {
    font-size: 20px;
    line-height: 23px;
    text-align: right;

    img {
      margin-left: 10px;
      margin-top: 10px;
    }

    .near-end {
      color: #ea441a;
    }

    .ended {
      color: $brand-white;
      background-color: #ea441a;
      text-align: center;
      margin: 0 -30px;
    }
  }

  .lease-stats-details {
    margin-top: 10px;

    .lease-stats-details-income {
      margin-top: 10px;

      .lease-stats-details-income-remaining {
        float: right;
        color: $gray-light;
      }

      .lease-stats-details-income-paid {
        float: left;
        color: #3cb878;
      }

      .lease-stats-details-income-remaining,
      .lease-stats-details-income-paid {
        text-align: center;

        .heading {
          font-size: 16px;
        }

        .content {
          font-size: 18px;
        }
      }
    }
  }

  .lease-stats-details-income-totals {
    margin-top: 50px;

    .summary-box {
      text-align: center;

      .summary-box-value {
        color: $gray;
        font-size: 22px;
        line-height: 26px;
      }

      .summary-box-text {
        color: $gray-light;
        font-size: 15px;
        line-height: 18px;
      }

      .summary-box-link {
        margin-top: 5px;
        color: #3398db;
        text-decoration: underline;
        cursor: pointer;
      }
    }
  }
}
