.tenant-row {
  display: flex;
  align-items: center;

  i {
    cursor: pointer;
  }

  .tenant-row-msg-icon {
    font-size: 16px;
    margin-bottom: 2px;
    vertical-align: middle;
  }
}

.tenant-row-image {
  width: 40px;
}

.tenant-row-no-facebook {
  color: #979797;
  font-size: 18px;
  vertical-align: middle;
}
