.tenant-row {
  display: flex;
  align-items: center;

  i:not(disabled) {
    cursor: pointer;
  }

  .tenant-row-msg-icon {
    font-size: 20px;
    margin-right: 10px;
  }
}

.tenant-row-image {
  width: 40px;
}

.tenant-row-no-facebook {
  color: #979797;
  font-size: 22px;
}
