@import "../../sharedStyles/variables.scss";
@import "../../sharedStyles/bsvars.scss";

.tenant-row {
  display: flex;
  align-items: center;

  i {
    cursor: pointer;
  }
}

.tenant-row-star {
  color: $gray-mid-light;
  padding: 9px 2px 9px 12px;
}

.tenant-row-profile {
  color: $brand-info;
  cursor: pointer;
  display: inline;
}

.tenant-row-remove {
  display: inline;

  i {
    color: $gray-mid-light;
    padding: 8px 10px 8px 5px;
  }
}

.tenant-row-button {
  color: #4d4d44;
  display: inline;
  padding: 6px;
  text-decoration: underline;

  &:hover {
    cursor: pointer;
  }

  .tenant-row-button-text {
    display: inline;
  }

  i {
    padding: 0 5px;
  }
}

.tenant-row-image {
  width: 40px;
  margin-left: 15px;
}
