@import "../../../sharedStyles/variables.scss";

.summary-box {
  text-align: center;
  width: 100px;
  height: 100px;
  margin: 0 auto;

  .summary-box-content {
    display: inline-block;
    vertical-align: middle;
    width: 100%;

    .summary-box-content-value {
      color: $gray;
      font-size: 25px;
      line-height: 26px;
      padding-top: 15px;

      .green {
        color: #27ae60;
      }
    }

    .summary-box-content-text {
      color: $gray-light;
      font-size: 13px;
      line-height: 18px;
      margin-top: 10px;
    }

    .summary-box-content-link {
      color: #3398db;
      text-decoration: underline;
      cursor: pointer;
    }
  }
}
