@import "../../sharedStyles/variables.scss";
@import "../../sharedStyles/bsvars.scss";

.report-section {
  margin-top: 10px;

  .report-section-heading {
    padding: 0;
    display: inline-block;
    vertical-align: top;

    .report-section-marker {
      display: inline-block;
      vertical-align: top;
      height: 50px;
      width: 3px;
      background: linear-gradient(134.72deg, #3023ae 0%, #c86dd7 100%);
    }

    .report-section-title {
      display: inline-block;
      margin-right: 25px;
      margin-top: 5px;

      .report-section-title-text {
        height: 40px;
        width: 40px;
        font-size: 13px;
        font-family: Arial;
        line-height: 18px;
        color: $gray-light;
        margin-top: 25px;
      }

      .report-section-title-icon {
        vertical-align: top;
        height: 40px;
        width: 40px;
      }
    }
  }

  .report-section-body-wrapper {
    margin-right: 15px;
    padding-bottom: 20px;
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.1);
    width: 390px;

    &::before {
      content: url('https://static.dorbel.com/images/icons/monthly-report/triangle-right.svg');
      position: absolute;
      right: -15px;
      top: 15px;
    }
  }
}
