@import "../sharedStyles/variables.scss";
@import "../sharedStyles/bsvars.scss";

.header-navbar {
  background: linear-gradient(90deg, #5f2982 0%, $brand-primary 100%) !important;
  border: none;
  box-shadow: 0 3px 10px 0 rgba(0, 0, 0, 0.3);

  .navbar-brand {
    padding: 17px 15px;

    .header-logo-image {
      height: 21px;
      width: 70px;
    }
  }
}

.header-navbar-logo-anchor {
  width: 100px;
}

// React bootstrap override.
.navbar-inverse .navbar-nav > li > a {
  color: $brand-white;
  font-size: 14px;
  padding: 12px 20px;

  @media (min-width: $screen-sm-min) {
    line-height: 34px;
  }
}

.header-dashboard-menu-item {
  &.header-dashboard-menu-item-selected {
    border-right: 4px solid $gray-dark;

    > a {
      margin-right: -4px;
    }
  }

  .unread-messages-notifier {
    float: left;
  }

  @media (min-width: $screen-sm-min) {
    display: none !important;
  }
}

.header-dashboard-menu-item-icon {
  font-size: 14px;
  padding-left: 18px;
  vertical-align: text-bottom;
}

.header-navbar-btn-publish {
  background-color: #00b3e5;
  margin: 10px 0;
  height: 53px;

  > a {
    color: $brand-white !important;
    line-height: 29px !important;

    @media (max-width: $screen-xs-max) {
      &::before {
        content: '+';
        margin-left: 5px;
      }
    }

    @media (min-width: $screen-sm-min) {
      line-height: normal !important;
    }
  }

  @media (min-width: $screen-sm-min) {
    border-radius: 4px;
    height: 40px;
  }
}

.header-navbar-profile-login-text {
  border-top: 1px solid #cdcdcd;
  margin: 0 20px;

  > a {
    padding: 20px 0 !important;
  }

  i {
    margin-left: 18px;
  }

  @media (min-width: $screen-sm-min) {
    display: none !important;
  }
}

@media (max-width: $screen-xs-max) {
  .navbar-collapse {
    background-color: $brand-white;
    bottom: 0;
    position: fixed;
    top: 60px;
    width: 100%;
  }

  .navbar-inverse .navbar-nav > li > a {
    color: $gray-dark;
    font-size: 13px;
  }
}

.header-navbar-links > a:hover {
  opacity: 0.7;
}

.header-navbar-owner-services-navitem {
  @media (max-width: $screen-sm-max) and (min-width: $screen-sm-min) {
    display: none !important;
  }
}

// React bootstrap override.
.navbar-inverse .navbar-toggle {
  &:hover,
  &:focus {
    background-color: transparent;
  }
}
