@import "../sharedStyles/variables.scss";
@import "../sharedStyles/bsvars.scss";

.navbar {
  transition: all 0.2s;
  @include gradient-vertical(rgba(255, 255, 255, 0.5), rgba(255, 255, 255, 0), 0%, 100%);  
  .navbar-brand {
    width: 100px;
    .dorbel-logo {
      background: url('~assets/images/dorbel_logo.svg') no-repeat right center;
      line-height: $line-height-computed*1.2;
      margin: 0;
    }
  }
}

.navbar-shrink {
  background-color: $brand-white;
  background-image: none;
  @include box-shadow(0px 2px 2px 0px rgba(0, 0, 0, 0.2));
}

.navbar-right {
  a {
    padding: 10px 20px;
    @include box-shadow(0px 2px 2px 0px rgba(0, 0, 0, 0.2));
    color: $gray-base;
    font-weight: 600;
  }
}
