@import "../sharedStyles/variables.scss";

//@import "../sharedStyles/bsvars.scss";
//@include gradient-vertical(rgba(255, 255, 255, 0.5), rgba(255, 255, 255, 0), 0%, 100%);  

.header-navbar {
  background: linear-gradient(90deg, #5F2982 0%, $brand-primary 100%) !important;
  box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.34);
  color: $brand-white;
  font-size: 13px;
}

.header-navbar-logo-anchor {
  width: 100px;
}
