.apartments-container {
  height: 100%;
  position: relative;
}

.apartments-filter-wrapper {
  padding: 39px 0;

  @media (min-width: $screen-xs-min) {
    margin: 0 auto;
    width: 480px;
  }

  @media (min-width: $screen-md-min) {
    margin: 0;
    width: 361px;
  }
}

.apartments-results-wrapper {
  background-color: $gray-lighter;
  padding-top: 39px;

  @media (min-width: $screen-md-min) {
    bottom: 0;
    left: 0;
    position: absolute;
    right: 361px;
    top: 0;
  }

  .loaderContainer {
    align-items: center;
    display: flex;
    height: 100%;
    top: -39px;
  }
}

.apartments-results-container {
  background-color: $gray-lighter;
}

.apartments-filter-city-container {
  text-align: center;

  .apartments-filter-city-dropdown {
    height: 62px;
    width: 285px;
  }
}

.apartments-filter-switches-container {
  border-bottom: 1px solid $gray-lighter;
  font-size: 13px;
  line-height: $line-height-computed;
  padding: 48px 22px 26px;
}

.apartments-filter-switches-switch-wrapper {
  display: inline-block;
  width: 50%;
}

.apartments-filter-sliders-container {
  border-bottom: 1px solid $gray-lighter;
  font-size: 13px;
  line-height: $line-height-computed;
  padding: 0 46px;
}

.apartments-filter-amenities-container {
  font-size: 13px;
  line-height: $line-height-computed;
  margin-right: 0 !important;
  padding-right: 7px;
  padding-top: 10px;

  .checkbox {
    padding-bottom: 15px;
  }

  > [class*='col-'] {
    padding-left: 0;
    padding-right: 0;
  }
}

.apartments-results-not-found {
  font-size: 15px;
  text-align: center;
  padding: 20px 0;

  @media (min-width: $screen-md-min) {
    padding: 300px 0;
  }
}

.size-slider {
  position: relative;
}

// i {
//   background-color: $brand-primary;
//   border-radius: 50%;
//   color: $brand-white;
//   cursor: pointer;
//   display: none; // TODO: Implement modal (and restore display block).
//   font-family: 'georgia';
//   height: 16px;
//   left: -30px;
//   line-height: 14px;
//   position: absolute;
//   text-align: center;
//   top: 59px;
//   width: 14px;
//   z-index: 9;
// }

// nouislider overrides
.cost-slider {
  .noUi-connect {
    background-color: $brand-primary !important;
  }
  .noUi-value {
    font-size: 12px;
  }
  .noUi-value-large {
    color: $brand-primary;
    font-size: 15px;
    &:before {
      color: $gray-light;
      content: "₪";
      font-size: 12px;
    }
    &:last-child:after {
      color: $brand-success;
      content: "+";
    }
  }
}

.roomsnum-slider {
  .noUi-connect {
    background-color: lighten($brand-primary, 20%) !important;
  }
  .noUi-value-large {
    color: $brand-primary;
    font-size: 16px;
    &:last-child:after {
      color: $gray-light;
      font-size: 12px;
    }
    &:nth-child(2):after {
      color: $gray-light;
      font-size: 12px;
    }
    &:last-child:after {
      color: $brand-success;
      content: "+";
    }
  }
}

.size-slider {
  .noUi-connect {
    background-color: lighten($brand-primary, 40%) !important;
  }
  .noUi-value-large {
    color: $brand-primary;
    font-size: 12px;
    &:last-child {
      font-size: 16px;
      &:after {
        color: $brand-success;
        content: "+";
      }
    }
    &:nth-child(2) {
      font-size: 16px;
      &:after {
        color: $gray-light;
        font-size: 12px;
      }
    }
  }
}

.noUi-target * {
  direction: ltr;
}

.noUi-target {
  height: 8px;
}

.noUi-value {
  width: 70px !important;
}

.noUi-value-horizontal {
  margin-left: -35px !important;
}

.noUi-marker {
  width: 1px !important;
}

.noUi-handle {
  background-color: $brand-white !important;
  border: 1px solid lighten($gray-light, 30%) !important;
  border-radius: 50% !important;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1) !important;
  cursor: pointer !important;
  &:hover {
    cursor: hand !important;
  }
  height: 19.6px !important;
  left: -10px !important;
  top: -9px !important;
  width: 19.6px !important;  
  &:before {
    display: none !important;
  }
  &:after {
    display: none !important;
  }
}

.cost-slider,
.roomsnum-slider,
.size-slider {
  > div {
    position: relative;
    height: 4px;
    margin: 0 auto;
    margin-bottom: 80px;
  }
}
