@import "../../sharedStyles/variables.scss";

.tenant-profile {
  font-weight: normal;

  .row {
    padding-top: 0 !important;
  }

  .tenant-profile-header {
    border-bottom: $gray-border;
    height: 87px;
    margin-bottom: 16px;
    margin-top: -65px; // compensate for no title in this popup
    position: relative;

    .tenant-profile-header-title {
      color: $gray-button;
      font-size: 13px;
      position: absolute;
      right: 50px;
      top: 38px;
    }

    .tenant-profile-header-picture {
      height: 91px;
      margin-top: 18px;
      width: 91px;
    }

    .tenant-profile-header-backgound {
      position: absolute;
      height: 87px;
      width: 100%;
      top: 0;
      left: 0;
      background-repeat: no-repeat;
      background-size: cover;
      background-position: center -50px;
      filter: blur(10px);
      opacity: 0.3;
      overflow: hidden;
    }
  }

  .tenant-profile-name {
    color: #4d4d4d;
    font-size: 18px;
    font-weight: bold;
    position: absolute;
    right: 20px;
    text-align: right;
    top: 75px;
  }

  .tenant-profile-field {
    height: 100%;
    line-height: 16px;
    text-align: right;
    padding-right: 10px;
    padding-top: 20px;

    label {
      display: block;
      font-size: 12px;
      color: #979797;
    }

    span {
      display: block;
      color: $gray-dark;
      white-space: pre-wrap;
    }
  }

  .tenant-profile-border-bottom {
    padding-bottom: 20px;
    border-bottom: $gray-border;
  }

  .tenant-profile-occupation-field {
    padding-right: 5px;
    padding-top: 75px;
  }

  .tenant-profile-social-link-button {
    color: $brand-white;
    display: block;
    margin-bottom: 8px;
    width: 130px;

    &.btn-default {
      border-color: white !important;
    }

    &.linkedin {
      background-color: #0077b5;
    }

    &.facebook {
      background-color: #3b5998;
    }

    &[disabled] {
      background-color: #cecece;
    }
  }

  .tenant-profile-contact-details-item {
    line-height: 44px;

    .btn {
      width: 130px;

      i {
        padding-left: 5px;
      }
    }
  }
}

