@import "../../sharedStyles/variables.scss";

.tenant-profile {
  font-weight: normal;

  .row {
    padding-top: 0 !important;
  }

  .tenant-profile-header {
    margin-top: -65px; // compensate for no title in this popup
    position: relative;
    height: 120px;
    border-bottom: $gray-border;

    .tenant-profile-header-title {
      height: 20px;
      margin-top: 19px;
      color: $gray-dark;
      font-size: 15px;
      font-weight: bold;
      line-height: 20px;
      text-align: center;
    }

    .tenant-profile-header-content {
      top: 20px;
      margin: -15px 0;
      position: relative;
      z-index: 1;

      .tenant-profile-header-content-picture {
        height: 75px;
        position: absolute;
        left: 20px;
        top: 20px;
        width: 75px;
      }
    }

    .tenant-profile-header-backgound {
      position: absolute;
      height: 120px;
      width: 100%;
      top: 0;
      left: 0;
      background-repeat: no-repeat;
      background-size: cover;
      background-position: center -50px;
      filter: blur(10px);
      opacity: 0.3;
      overflow: hidden;
    }
  }

  .tenant-profile-field {
    height: 100%;
    line-height: 16px;
    text-align: right;
    padding-right: 10px;
    padding-top: 20px;

    label {
      display: block;
      font-size: 12px;
      color: #979797;
    }

    span {
      display: block;
      color: $gray-dark;
      white-space: pre-wrap;
    }
  }

  .tenant-profile-border-bottom {
    padding-bottom: 20px;
    border-bottom: $gray-border;
  }

  .tenant-profile-social-links {
    width: 100%;
    margin: 0 auto;

    .tenant-profile-social-links-item {
      color: $brand-white;
      margin: 0 5px;
      width: 120px;

      &.btn-default {
        border-color: white !important;
      }

      &.linkedin {
        background-color: #0077b5;
      }

      &.facebook {
        background-color: #3b5998;
      }

      &[disabled] {
        background-color: #cecece;
      }
    }
  }

  .tenant-profile-contact-details {
    .tenant-profile-contact-details-item {
      display: inline-block;
      line-height: 44px;
      margin: 0 5px 5px;

      .btn {
        width: 120px;

        i {
          padding-left: 5px;
        }
      }
    }
  }
}

