@import "../../sharedStyles/bsvars.scss";
@import "../../sharedStyles/variables.scss";

.saved-filters-row {
  @media (min-width: $screen-sm-min) {
    align-items: center;
    display: flex;
    margin-top: 15px;
  }
}

.saved-filters-title {
  font-size: 15px;
}

.saved-filter-wrapper label {
  align-items: center;
  display: flex;
  font-size: 15px;

  input {
    margin-top: 0;
  }

  @media (max-width: $screen-sm-max) {
    font-size: 13px;
  }
}

.email-notification-box {
  @media (min-width: $screen-sm-min) {
    border-right: $gray-border;
  }

  @media (max-width: $screen-sm-max) {
    border-top: $gray-border;
    padding-top: 10px;
  }
}

.saved-filter-email-notification-checkbox {
  margin-bottom: 0;
  margin-top: 0;
}
