@import "../../sharedStyles/bsvars.scss";

.saved-filters-row {
  @media (min-width: $screen-sm-min) {
    align-items: center;
    display: flex;
    margin-top: 15px;
  }
}

.saved-filters-title {
  font-size: 15px;
}

.saved-filter-wrapper label {
  align-items: center;
  display: flex;
  font-size: 15px;

  input {
    margin-top: 0;
  }

  @media (max-width: $screen-sm-max) {
    font-size: 13px;
  }
}

.saved-filter-circle {
  height: 40px;
  margin-left: 7px;
  width: 40px;

  @media (max-width: $screen-sm-max) {
    height: 17px;
    width: 17px;
  }
}

.saved-filter-circle-0 {
  fill: #24caaa;
}

.saved-filter-circle-1 {
  fill: #3b5998;
}

.saved-filter-circle-2 {
  fill: #e8e8e8;
}
