@import "../sharedStyles/variables.scss";

.monthly-report-main-grid {
  width: 100%;
  max-width: 500px;
  margin: 0 auto;
  padding-bottom: 30px;
  border: 1px solid #dbdbdb;
  border-radius: 4px;
  background-color: $brand-white;
}

.monthly-report-heading {
  color: $gray;
  font-family: Arial;
  font-size: 15px;
  line-height: 21px;
  padding: 35px 0;
  padding-right: 25px;
  margin-bottom: 15px;

  .monthly-report-heading-text {
    top: 10px;
  }

  .monthly-report-heading-stamp {
    height: 50px;
    text-align: center;

    .logo {
      height: 20px;
      width: 100%;
    }

    .date-container {
      color: $brand-white;
      font-size: 15px;
      font-weight: bold;
      line-height: 18px;
      text-align: center;
      background-color: $brand-primary;
      margin-top: 10px;
    }
  }
}

.monthly-report-footer {
  border-top: 2px solid $gray-lighter;
  padding: 15px;
  padding-right: 25px;
  padding-left: 10px;
  color: $gray-light;
  font-family: Arial;
  font-size: 11px;
  line-height: 14px;
  background-image: url('https://static.dorbel.com/images/icons/monthly-report/footer-watermark.svg');
  background-size: 100% 100%;

  .monthly-report-footer-visit-us {
    text-align: center;

    .links {
      display: inline-block;

      i {
        margin: 0 8px;
      }
    }
  }
}

.property-details-section {
  .property-details-section-header {
    text-align: center;
    height: 90px;
  }

  .property-details-section-header-image {
    width: 100%;
    height: 90px;
    background-position: center -50px;
    background-size: 100%;
    filter: blur(1px);
  }

  .property-details-section-header-text {
    position: relative;
    background-color: rgba(255, 255, 255, 0.8);
    color: $gray-base;
    font-family: Arial;
    font-size: 20px;
    font-weight: bold;
    line-height: 21px;
    text-align: center;
    top: -55px;
    height: 40px;
    width: 300px;
    border-radius: 4px;
    padding: 5px 15px;
  }

  .listing-info-container {
    border: none !important;
  }
}

.go-to-dashboard-section {
  font-size: 13px;
  line-height: 18px;
  color: $gray-light;

  .go-to-dashboard-section-button {
    color: $brand-white;
    background-color: #3398db;
    margin-top: 10px;
  }
}
