// Disable auth0 lock animation to fight with e2e flackiness and better user experience.
.auth0-lock * {
  -webkit-animation: none !important;
  animation: none !important;
  -webkit-transition: none !important;
  transition: none !important;
}

.auth0-lock-widget-container {
  overflow-x: hidden !important;
  overflow-y: auto !important;
}

.auth0-lock-name {
  font-size: 13px !important;
}

.auth0-label-submit span {
  display: none !important;
}

.auth0-lock-sign-up-terms-agreement {
  font-size: 11px;
}

.auth0-lock-alternative-link {
  font-size: 11px !important;
  text-decoration: underline !important;
}
