.auth0-lock-name {
  font-size: 13px !important;
}

.auth0-label-submit span {
  display: none !important;
}

.auth0-lock-sign-up-terms-agreement {
  font-size: 11px;
}

.auth0-lock-alternative-link {
  font-size: 11px !important;
  text-decoration: underline !important;
}