@font-face {
    font-family: 'Alef';
    src: url('~assets/fonts/Alef-Webfont/Alef-Bold.eot');
    src: url('~assets/fonts/Alef-Webfont/Alef-Bold.eot?#iefix') format('embedded-opentype'),
         url('~assets/fonts/Alef-Webfont/Alef-Bold.woff') format('woff'),
         url('~assets/fonts/Alef-Webfont/Alef-Bold.ttf') format('truetype'),
         url('~assets/fonts/Alef-Webfont/Alef-Bold.svg#alefbold') format('svg');
    font-weight: bold;
    font-style: normal;

}

@font-face {
    font-family: 'Alef';
    src: url('~assets/fonts/Alef-Webfont/Alef-Regular.eot');
    src: url('~assets/fonts/Alef-Webfont/Alef-Regular.eot?#iefix') format('embedded-opentype'),
         url('~assets/fonts/Alef-Webfont/Alef-Regular.woff') format('woff'),
         url('~assets/fonts/Alef-Webfont/Alef-Regular.ttf') format('truetype'),
         url('~assets/fonts/Alef-Webfont/Alef-Regular.svg#alefregular') format('svg');
    font-weight: normal;
    font-style: normal;

}
