$dir: rtl;

@import './variables.scss';
@import "~bootstrap-sass-directional/assets/stylesheets/_bootstrap.scss";
@import "./rtl.scss";
@import "./fonts.scss";
@import url('https://cdnjs.cloudflare.com/ajax/libs/flickity/2.0.5/flickity.min.css');
@import "./auth0.scss";

/* React toggle style import (from node modules) */
@import '~react-toggle/style.css';

*,
html,
body {
  box-sizing: border-box !important;
  direction: $dir;
}

body,
html {
  height: 100%;
  overflow-x: hidden;
}

.full-height {
  height: 100%;
}

a {
  &:visited,
  &:hover {
    text-decoration: none !important;
  }

  &:hover {
    color: $brand-success;
  }
}

.dorbel-btn {
  font-size: $font-size-base;
  font-weight: bold;
  padding-bottom: 10px;
  padding-top: 10px;
}

.sweet-alert {
  font-family: "Arimo";
  font-size: $font-size-small;
  padding: 20px 40px !important;

  @include box-shadow(0 2px 2px 0 rgba(0, 0, 0, 0.2));

  a {
    font-weight: bold;
  }

  @media (max-width: $screen-xs-min) {
    padding: 5px 20px !important;
  }

  .confirm {
    margin: 20px 0;
  }

  hr {
    display: none;
  }
}

.app-content-with-header {
  padding: 60px 0 0;

  @media (max-width: $screen-xs-max) {
    height: 100%;
  }
}

.small-text {
  font-size: 12px;
  color: $gray-light;
}

.gray-mid-light-text {
  color: $gray-mid-light;
}

.modal-backdrop.in {
  opacity: 0.2;
}

.modal-content {
  border: none;
  border-radius: 0;
  box-shadow: 0 30px 40px rgba(0, 0, 0, 0.2);
}

.modal-header {
  padding: 40px 30px 15px;
  border-bottom: none;
}

.modal-header .close {
  color: $gray-dark;
  right: 14px;
  top: 10px;
  padding: 10px;
  position: absolute;
}

.modal-title {
  font-weight: 600;
  text-align: center;
}

.modal-footer {
  font-size: 12px;
  color: $gray-light;
  line-height: 1.59999996;
}

.modal-body {
  padding: 10px 30px 25px;
}

.modal-body .row:not(:first-child) {
  padding-top: 20px;
}

table.vertical-middle > tbody > tr > td {
  vertical-align: middle;
}

a:hover {
  color: inherit;
  opacity: 0.7;
}

/* Disable user resize for all textareas */
textarea {
  resize: none;
}

/* React bootstrap dropdown */
.dropdown > button {
  &:focus,
  &:hover {
    background-color: $brand-white !important;
  }
}

.dropdown-menu {
  background-color: $brand-white !important;
  border: none !important;
  border-radius: 0;
  box-shadow: 0 3px 9px rgba(0, 0, 0, 0.175) !important;
  font-size: 13px;
  max-height: 300px;
  overflow-y: auto;

  > li > a {
    line-height: 19px;
    padding: 5px 14px !important;
  }
}

/* React bootstrap date picker */
.react-bootstrap-date-picker-custom-control {
  background-color: $brand-white !important;
  border: 1px solid #ccc;
  border-radius: 4px;
  color: $gray;
  height: 33px;
  padding: 6px 12px;
  width: 100%;
}

/* navbar changes - so bottom border will be across the Navbar and only on the Nav components */
ul.nav.nav-tabs.navbar-nav {
  border-bottom: 0 solid transparent;
}

.navbar-toggle {
  border: none;
}

.error-page {
  text-align: center;
  padding: 10px 0;
}

.add-button {
  background-color: $gray-lighter !important;
  border-color: $brand-green !important;
  color: $brand-green !important;
  margin-top: -15px;

  &::before {
    content: "+ ";
  }
}

/* React toggle */
.react-toggle-track {
  background-color: #9b9b9b;
  height: 18px;
  width: 38px;
}

.react-toggle-thumb {
  border-color: #9b9b9b;
  height: 16px;
  width: 16px;
}

.react-toggle--checked .react-toggle-thumb {
  left: 21px;
}
