.tab-menu {
  background-color: $brand-white;
  border-radius: 0;
  box-shadow: 0 4px 2px -2px rgba(0, 0, 0, 0.1);
  font-size: 13px;
  height: 42px;
  margin: 0 -15px;
  min-height: 0;
  z-index: 1;

  > div {
    text-align: center;
    width: 100%;
  }

  p {
    border-bottom: 2px solid rgba(220, 220, 220, 0.9);
    color: #979797;
    cursor: pointer;
    display: inline-block;
    float: none;
    margin: 1px 15px;
    padding: 10px 15px;
    -moz-user-select: none;
    -ms-user-select: none;
    -webkit-user-select: none;
    user-select: none;

    &.active {
      border-bottom: 2px solid $brand-primary;
      color: $gray-dark;
    }
  }
}
