$SIZE: 80px;

.map-image-container{
  .radiusMarker {
    left: auto;
    top: auto;
    align-self: center;
    z-index: 1;
  }
}

.radiusMarker {
  width: $SIZE;
  height: $SIZE;
  background-color: black;
  border-radius: 50%;
  opacity: 0.4;
  left: -($SIZE/2);
  top: -($SIZE/2);
  position: absolute;
}

    