// This file is required for eslint and the 'babel-loader' webpack plugin
{
  "retainLines": true,
  "presets": [
    "es2015",
    "react",
    "stage-1"
  ],
  "plugins": [
    "transform-decorators-legacy",
    ["babel-root-import", { "rootPathSuffix": "src" }]
  ]
}
